<section id="section-tokenomics-allocation" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
    <div class="container-fluid text-center">
        <div class="main-heading typo-syne-h1">
            MAHA Allocation
        </div>
        <div class="sub-heading-text typo-syne-h4">
            A total of 10 million MAHA tokens have been minted at genesis and will become accessible 
            over the course of 10 years. A perpetual inflation rate of 200,000 MAHA tokens per year will 
            start after 10 years, ensuring continued participation and contribution to MahaDAO at the expense 
            of passive MAHA holders.
        </div>
        <div class="circle-chart">
            <div class="circle-chart-img text-center">
                <img class="img-fluid" src="../../images/tokenomics/circle-chart.svg" alt="">
            </div>
            <div class="content-center">
                <span class="bullet-text-after typo-inter-h2 red-color community">
                Community <br> 70%
                </span>
                <span class="bullet-text-after typo-inter-h2 aqua-color advisors">
                Advisors <br> 3%
                </span>
                <span class="bullet-text-after typo-inter-h2 gold-color core-team">
                Core Team <br> 7%
                </span>	
                <span class="bullet-text-after typo-inter-h2 purpule-color private-sale">
                Private Sale <br> 15%
                </span>
                <span class="bullet-text-after typo-inter-h2 orange-color seed">
                Seed <br> 5%
                </span>				
            </div>
        </div>
        <div class="table-responsive">
            <table class="table dark-table table-striped typo-body-large">
                <thead>
                    <tr>
                        <th class="typo-syne-h4">Allocation</th>
                        <th class="typo-syne-h4">Community Distriubtuion</th>
                        <th class="typo-syne-h4">Distribution (MAHA)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>70%</td>
                        <td>To Community engagement & Ecosystem Growth, disbursement over 10 years</td>
                        <td>7,000,000</td>
                    </tr>
                    <tr>
                        <td>15%</td>
                        <td>To private sale investors with 1-year vesting</td>
                        <td>1,500,000</td>
                    </tr>
                    <tr>
                        <td>7%</td>
                        <td>To team members and future employees with 4-year vesting</td>
                        <td>700,000</td>
                    </tr>
                    <tr>
                        <td>5%</td>
                        <td>To seed investors with 1-year vesting</td>
                        <td>500,000</td>
                    </tr>
                    <tr>
                        <td>3%</td>
                        <td>To advisors with 1-year vesting</td>
                        <td>300,000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>