<section id="section-maha-tokenomics" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">
		<div class="main-heading">
			Tokenomics
		</div>
	
		<div class="sub-heading">
			MAHA Tokenomics	
		</div>


		<div class="maha-tokenomics-box">
			<div class="maha-tokenomics-left card-bg">
				<img src="../../images/tokenomics/mahaframe.svg" alt="">
				<h3>MAHA</h3>
				<p>Circulating Supply</p>
				<p class="text-orange">$99,873,118</p>
			</div>

			<div class="maha-tokenomics-left maha-tokenomics-right card-bg">
				<div class="text-row">				
					<div class="text-row-text">
						<p>Token Name</p>	
						<span>MAHA</span>
					</div>
					<div class="text-row-text equal-with">
						<p>Token Sybmol</p>	
						<span>MAHA</span>
					</div>				
				</div>

				<div class="text-row">				
					<div class="text-row-text">
						<p>Token Type</p>	
						<span>ERC-20</span>
					</div>
					<div class="text-row-text equal-with">
						<p>Token Utility</p>	
						<span>Governnace</span>
					</div>				
				</div>		


				<div class="text-row">				
					<div class="text-row-text">
						<p>Platform</p>	
						<span>Standard token on Ethereum</span>
					</div>					
				</div>	

				<div class="text-row">				
					<div class="text-row-text">
						<p>Total Token Supply</p>	
						<span>10,000,000 till the end of 10 years <font class="font-weight-normal">(2% inflation after 10 years)</font></span>
					</div>					
				</div>	

				<div class="text-row">				
					<div class="text-row-text">
						<p>Token Generation Event</p>	
						<span>17 December 2020</span>
					</div>					
				</div>	

				<div class="text-center center-btn">				
					<a href="#" class="theme-btn-outline btn-md">Etherscan</a>	
					<a href="#" class="theme-btn-outline btn-md">CoinGecko</a>					
				</div>											
				
					
			</div>				
		</div>
		
	</div>
</section>
