<section id="section-tokenomics-release" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid text-center">
		<div class="main-heading">
			10 Year Release Schedule
		</div>
	
		<div class="circle-chart">
			<div class="circle-chart-img text-center"><img class="img-fluid"  src="../../images/tokenomics/chart-release-schedule.png" alt=""></div>
				<div class="content-center">
					<span class="bullet-text-after red-color community">
						Ecosystem + Community
					</span>

					<span class="bullet-text-after aqua-color advisors">
						Advisors
					</span>

					<span class="bullet-text-after gold-color core-team">
						Team
					</span>															
				</div>	

				<div class="content-center">
					<span class="bullet-text-after purpule-color community">
						Private Sale
					</span>

					<span class="bullet-text-after orange-color advisors">
						Seed
					</span>														
				</div>				

									
		</div>

		<div class="table-responsive">
			<table class="table dark-table table-striped">
				<thead>
					<tr>
						<th>Year</th>
						<th>Community Distribution</th>
						<th>Circulating Supply</th>
						<th>Supply Distribution</th>					
					</tr>
				</thead>			
					
				<tbody>
					<tr>
						<td>Year 2021</td>
						<td>758,333</td>
						<td><strong>987,333</strong></td>
						<td>9.87%</td>					
					</tr>
		
					<tr>
						<td>Year 2022</td>
						<td>1,400,000</td>
						<td><strong>3,338,889</strong></td>
						<td>33.33%</td>					
					</tr>
					<tr>
						<td>Year 2023</td>
						<td>2,800,000</td>
						<td><strong>4,272,222</strong></td>
						<td>42.72%</td>					
					</tr>	
					<tr>
						<td>Year 2024</td>
						<td>3,500,000</td>
						<td><strong>5,163,889</strong></td>
						<td>51.63%</td>					
					</tr>	
					<tr>
						<td>Year 2031 Onwards</td>
						<td>+200,000</td>
						<td><strong>10,000,000</strong></td>
						<td>2% of intial supply</td>					
					</tr>																										
				</tbody>
			</table>
	    </div>			

	</div>
</section>



