<section id="section-tokenomics-summary" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
    <div class="container-fluid">
        <div class="main-heading typo-syne-h1">
            Summary of Pre-Sale Tokenomics
        </div>
        <div class="table-responsive">
            <table class="table dark-table table-striped typo-body-large">
                <thead>
                    <tr>
                        <th class="typo-syne-h2 text-white" colspan="2">MAHA Seed Sale - August 2020</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Token Price at Seed stage</td>
                        <td><strong>$0.25 per MAHA Token</strong></td>
                    </tr>
                    <tr>
                        <td>Seed sale tokens</td>
                        <td><strong>500,000 MAHA</strong></td>
                    </tr>
                    <tr>
                        <td>Total number of tokens unlocked  at <br>token generation event (TGE)</td>
                        <td><strong>8.33%</strong> </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="font-weight-500"><strong>Daily linear distribution from the 60th day (end of month 2) after token generation event (TGE) for the remainder of 10 months (total 12 months)</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table dark-table table-striped typo-body-large">
                <thead>
                    <tr>
                        <th class="typo-syne-h2 text-white" colspan="2">MAHA Private Sale - October 2020 ~ December 2020</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Token Price at Private sale stage</td>
                        <td><strong>$0.50 per MAHA Token</strong></td>
                    </tr>
                    <tr>
                        <td>Private sale tokens</td>
                        <td>1,500,000</td>
                    </tr>
                    <tr>
                        <td>Total number of tokens unlocked at<br> token generation event (TGE)</td>
                        <td><strong>20%</strong> </td>
                    </tr>
                    <tr>
                        <td>Total number of tokens unlocked on the 31st day (end of month 1) from token generation event (TGE)</td>
                        <td><strong>7.2%</strong> </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="font-weight-500">Daily linear distribution from the 60th day after the token generation event  (TGE) for the remainder of 10 months (total 12 months)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table dark-table table-striped typo-body-large">
                <thead>
                    <tr>
                        <th class="typo-syne-h2 text-white" colspan="2">MAHA Public Sale - 17 December 2020</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Token Price at MAHA IDO</td>
                        <td><strong>$0.60 per MAHA Token</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="font-weight-500">Historic IDO on Polkastarter</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table dark-table table-striped typo-body-large">
                <thead>
                    <tr>
                        <th class="typo-syne-h2 text-white" colspan="2">MAHA Exchange Listing (Uniswap) - 17 December 2020</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Token Price at Uniswap Listing</td>
                        <td><strong>$0.75 per MAHA Token</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table dark-table table-striped typo-body-large">
                <thead>
                    <tr>
                        <th class="typo-syne-h4">Team</th>
                        <th class="typo-syne-h4 td-bor-left">Advisors</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Unlocked after 12 months</td>
                        <td class="td-bor-left">Unlocked from TGE</td>
                    </tr>
                    <tr>
                        <td>Long term linear vesting over 4 years (skin in the game)</td>
                        <td class="td-bor-left">Monthly distribution for first 2 months; linear distribution for the next 10 months</td>
                    </tr>
                    <tr>
                        <td>7.00%</td>
                        <td class="td-bor-left">3.00%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>