
<section id="section-tokenomics-year-community" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid text-center">
		<div class="main-heading">
			10 Year Community Token Distribution Plan
		</div>
	
		<div class="sub-heading-text font-18">
			MAHA token holders can vote to allocate MAHA towards grants, strategic partnerships, governance initiatives, 
			additional liquidity mining pools, and other programs.
		</div>	
		

		<div class="circle-chart">
			<div class="circle-chart-img text-center"><img class="img-fluid"  src="../../images/tokenomics/year-community-chart.png" alt=""></div>
				<div class="content-center">
					<span class="bullet-text-after red-color community">
						Community Engagement   <br> 30%
					</span>

					<span class="bullet-text-after aqua-color influencers">
						Liquidity Farming <br> 25%
					</span>

					<span class="bullet-text-after gold-color misc">
						Contributor Grants <br> 20%
					</span>												
			</div>

			<div class="content-center">
					<span class="bullet-text-after orange-color community">
						Merchant Grants  <br> 15%
					</span>

					<span class="bullet-text-after blue-color influencers">
						Influencers, Evangelists & Media <br> 5%
					</span>

					<span class="bullet-text-after purpule-color misc">
						Misc (Future Token Sale) <br> 5%
					</span>												
			</div>								
		</div>

		<div class="sub-heading-text font-18">
			The Community distribution plan is not fixed and will be revised by the governance on a rolling 3 month basis.
		</div>

		<div class="table-responsive">
			<table class="table dark-table table-striped">
				<thead>
					<tr>
						<th>Community Breakup</th>
						<th>Tokens</th>
						<th>Distribution</th>
					</tr>
				</thead>
							
				<tbody>
					<tr>
						<td>Community Engagement</td>
						<td>2,100,000</td>
						<td>30%</td>
					</tr>
					<tr>
						<td>Liquidity Farming</td>
						<td>1,750,000</td>
						<td>25%</td>
					</tr>
					<tr>
						<td>Contributor Grants</td>
						<td>1,400,000</td>
						<td>20%</td>
					</tr>	
					<tr>
						<td>Merchant Grants</td>
						<td>1,050,000</td>
						<td>15%</td>
					</tr>
					<tr>
						<td>Influencers, Evangelists & Media </td>
						<td>350,000</td>
						<td>5%</td>
					</tr>
					<tr>
						<td>Misc </td>
						<td>350,000</td>
						<td>5%</td>
					</tr>	
					<tr>
						<td>Total </td>
						<td>7,000,000</td>
						<td>100%</td>
					</tr>																																		
				</tbody>
			</table>
		</div>		


	</div>
</section>



