<section id="section-about" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">
		<div class="title-head main-heading typo-syne-h1">
			About Us
		</div>
	
		<div class="sub-heading-text typo-syne-h4">
			MahaDAO is a community-powered, decentralized autonomous organisation on a mission to empower 
			billions to preserve their purchasing power through the world’s first valuecoin, 
			ARTH.
		</div>
				
	</div>
</section>