<section id="section-brand-resources">
	<div class="container-fluid">
      <div class="main-heading typo-syne-h1">Brand Resources</div>
	  	<div class="sub-heading-text typo-syne-h4">Grab our official MAHA, ARTH, ARTHB brand logos.</div>
		<div class="card-deck row">

			<div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<div class="card card-bg">
					<div class="img-container">
						<img src="./images/brand-resources/logo-maha.svg" class="img-top" alt="..." />
					</div>
				</div>
				<a class="theme-btn-outline d-block" href="/resources/MAHA.zip">Download Zip</a>
			</div>
			<div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<div class="card card-bg">
					<div class="img-container">
						<img src="./images/brand-resources/logo-arth.svg" class="img-top" alt="..." />
					</div>
				</div>
				<a   class="theme-btn-outline d-block" href="/resources/ARTH.zip">Download Zip</a>
			</div>

			<div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<div class="card card-bg">
					<div class="img-container">
						<img src="./images/brand-resources/logo-arthx.svg" class="img-top" alt="..." />
					</div>
				</div>
				<a   class="theme-btn-outline d-block" href="/resources/ARTHX.zip">Download Zip</a>
			</div>

		</div>
	</div>
</section>
