<section id="section-brand-resources">
	<div class="container-fluid">
      <div class="main-heading">Brand Resources</div>
	  	<div class="sub-heading-text">Grab our official MAHA, ARTH, ARTHB brand logos.</div>	
		<div class="card-deck row">

			<div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<div class="card card-bg">
					<div class="img-container">
						<img src="./images/brand-resources/logo-mahadao.svg" class="img-top" alt="..." />
					</div>					
				</div>
				<a  target="_blank" class="theme-btn d-block" href="#">Download All</a>				
			</div>
			<div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<div class="card card-bg">
					<div class="img-container">
						<img src="./images/brand-resources/logo-arth.svg" class="img-top" alt="..." />
					</div>					
				</div>
				<a  target="_blank" class="theme-btn d-block" href="#">Download All</a>				
			</div>

			<div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<div class="card card-bg">
					<div class="img-container">
						<img src="./images/brand-resources/logo-arth-b.svg" class="img-top" alt="..." />
					</div>					
				</div>
				<a  target="_blank" class="theme-btn d-block" href="#">Download All</a>				
			</div>			

		</div>
	</div>
</section>