<section  id="section-arth-backed" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="main-title">ARTH Global Measurement Unit</div>

	 <div class="backed-circle">
		
		<div class="logo-icon">
	    <img class="img" src="../../images/mahadao-protocol/logo-icon.svg" alt="">
		<p><strong>ARTH</strong></p>
		</div>

		<div class="logo-icon arrow-icon">
		<p>Pegged to</p>
	    <img class="img" src="../../images/orange-green-arrow.svg" alt="">
		</div>

		<div class="chart-circle">
		<img class="img" src="../../images/chart-circle.svg" alt="">	
		 <p><strong>Global Measurement Unit (GMU)</strong></p>
		</div>
		
		<ul class="chart-text">
			<li>80% Fiat</li>	
			<li>15% Gold</li>	
			<li>5% Bitcoin</li>	
		</ul>

	</div>	
</section>
