<section  id="section-arth-backed" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="main-title">ARTH is backed by</div>

	 <div class="backed-circle">
		<div class="chart-circle"></div>

			<ul class="chart-text">
			  <li>80% fiat</li>	
			  <li>15% gold</li>	
			  <li>5% bitcoin</li>	
			</ul>
	</div>	
</section>
