<section id="section-community" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
	<div class="main-section1" id="community-outer">
		<div class="main-heading typo-syne-h1">
			Community Driven Governance
		</div>
		<div class="f-text-text typo-syne-h4">
			Powered & governed by the people, MahaDAO is
			designed so that a vibrant community is at the helm of all decision making. Using democratic frameworks like
			governance portals, forums & the power of social discourse, growth is driven by the community and for the community.
		</div>
		<div class="d-md-inline-block d-sm-block sm-center hero-link">
			<a class="theme-btn btn-md" target="_blank" href="https://vote.mahadao.com/#/">Vote</a>
		</div>
		<div class="d-md-inline-block d-sm-block sm-center hero-link">
			<a class="theme-btn-outline btn-md imagine-link"  target="_blank" href="http://discuss.mahadao.com/">Forum</a>
		</div>
		<div class="community">
			<img class="community-img" src="img/community.svg" alt="img">
			<div class="dot dot-1">
				<svg class="draw-line upper-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-1" x1="0.694861" y1="51.1776" x2="66.3434" y2="0.603921" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.5213" y1="-30.2133" x2="48.5566" y2="22.9272" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-1" x1="0.303405" y1="0.602576" x2="66.1724" y2="50.8889" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.5" y1="45" x2="40" y2="39.5" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line upper-right-line" viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-2" x1="0.304808" y1="0.603651" x2="65.9956" y2="51.1225" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.3439" y1="45.3408" x2="39.8636" y2="39.6412" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-right-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-2" x1="0.695962" y1="50.9944" x2="66.4846" y2="0.603082" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.7481" y1="-30.208" x2="48.6359" y2="22.8769" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
			<div class="dot dot-2">
				<svg class="draw-line upper-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-3" x1="0.694861" y1="51.1776" x2="66.3434" y2="0.603921" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.5213" y1="-30.2133" x2="48.5566" y2="22.9272" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-3" x1="0.303405" y1="0.602576" x2="66.1724" y2="50.8889" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.5" y1="45" x2="40" y2="39.5" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line upper-right-line" viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-4" x1="0.304808" y1="0.603651" x2="65.9956" y2="51.1225" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.3439" y1="45.3408" x2="39.8636" y2="39.6412" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-right-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-4" x1="0.695962" y1="50.9944" x2="66.4846" y2="0.603082" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.7481" y1="-30.208" x2="48.6359" y2="22.8769" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
			<div class="dot dot-3">
				<svg class="draw-line upper-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-5" x1="0.694861" y1="51.1776" x2="66.3434" y2="0.603921" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.5213" y1="-30.2133" x2="48.5566" y2="22.9272" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-5" x1="0.303405" y1="0.602576" x2="66.1724" y2="50.8889" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.5" y1="45" x2="40" y2="39.5" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line upper-right-line" viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-6" x1="0.304808" y1="0.603651" x2="65.9956" y2="51.1225" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.3439" y1="45.3408" x2="39.8636" y2="39.6412" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-right-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-6" x1="0.695962" y1="50.9944" x2="66.4846" y2="0.603082" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.7481" y1="-30.208" x2="48.6359" y2="22.8769" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
			<div class="dot dot-4">
				<svg class="draw-line upper-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-7" x1="0.694861" y1="51.1776" x2="66.3434" y2="0.603921" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.5213" y1="-30.2133" x2="48.5566" y2="22.9272" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-7" x1="0.303405" y1="0.602576" x2="66.1724" y2="50.8889" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.5" y1="45" x2="40" y2="39.5" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line upper-right-line" viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-8" x1="0.304808" y1="0.603651" x2="65.9956" y2="51.1225" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.3439" y1="45.3408" x2="39.8636" y2="39.6412" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-right-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-8" x1="0.695962" y1="50.9944" x2="66.4846" y2="0.603082" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.7481" y1="-30.208" x2="48.6359" y2="22.8769" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
			<div class="dot dot-5">
				<svg class="draw-line upper-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-9" x1="0.694861" y1="51.1776" x2="66.3434" y2="0.603921" stroke="url(#paint0_linear)"></line>
					<defs>
						<linearGradient id="paint0_linear" x1="68.5213" y1="-30.2133" x2="48.5566" y2="22.9272" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"></stop>
							<stop stop-color="#FBFBFB"></stop>
							<stop offset="1" stop-color="#3D3D3D"></stop>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-left-line" viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-8" x2="0.303405" y2="0.602576" x1="66.1724" y1="50.8889" stroke="url(#paint0_linear)"></line>
					<defs>
						<linearGradient id="paint0_linear" x1="96.5" y1="45" x2="40" y2="39.5" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"></stop>
							<stop stop-color="#FBFBFB"></stop>
							<stop offset="1" stop-color="#3D3D3D"></stop>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line upper-right-line" viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-9" x2="0.304808" y2="0.603651" x1="65.9956" y1="51.1225" stroke="url(#paint0_linear)"></line>
					<defs>
						<linearGradient id="paint0_linear" x1="96.3439" y1="45.3408" x2="39.8636" y2="39.6412" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"></stop>
							<stop stop-color="#FBFBFB"></stop>
							<stop offset="1" stop-color="#3D3D3D"></stop>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-right-line" viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-8" x1="0.695962" y1="50.9944" x2="66.4846" y2="0.603082" stroke="url(#paint0_linear)"></line>
					<defs>
						<linearGradient id="paint0_linear" x1="68.7481" y1="-30.208" x2="48.6359" y2="22.8769" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"></stop>
							<stop stop-color="#FBFBFB"></stop>
							<stop offset="1" stop-color="#3D3D3D"></stop>
						</linearGradient>
					</defs>
				</svg>
			</div>
			<div class="dot dot-6">
				<svg class="draw-line upper-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-10" x1="0.694861" y1="51.1776" x2="66.3434" y2="0.603921" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.5213" y1="-30.2133" x2="48.5566" y2="22.9272" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-10" x1="0.303405" y1="0.602576" x2="66.1724" y2="50.8889" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.5" y1="45" x2="40" y2="39.5" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line upper-right-line" viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-11" x1="0.304808" y1="0.603651" x2="65.9956" y2="51.1225" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.3439" y1="45.3408" x2="39.8636" y2="39.6412" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-right-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-11" x1="0.695962" y1="50.9944" x2="66.4846" y2="0.603082" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.7481" y1="-30.208" x2="48.6359" y2="22.8769" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
			<div class="dot dot-7">
				<svg class="draw-line upper-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-12" x1="0.694861" y1="51.1776" x2="66.3434" y2="0.603921" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.5213" y1="-30.2133" x2="48.5566" y2="22.9272" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-12" x1="0.303405" y1="0.602576" x2="66.1724" y2="50.8889" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.5" y1="45" x2="40" y2="39.5" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line upper-right-line" viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-13" x1="0.304808" y1="0.603651" x2="65.9956" y2="51.1225" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.3439" y1="45.3408" x2="39.8636" y2="39.6412" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-right-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-13" x1="0.695962" y1="50.9944" x2="66.4846" y2="0.603082" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.7481" y1="-30.208" x2="48.6359" y2="22.8769" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
			<div class="dot dot-8">
				<svg class="draw-line upper-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-14" x1="0.694861" y1="51.1776" x2="66.3434" y2="0.603921" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.5213" y1="-30.2133" x2="48.5566" y2="22.9272" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-left-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-14" x1="0.303405" y1="0.602576" x2="66.1724" y2="50.8889" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.5" y1="45" x2="40" y2="39.5" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line upper-right-line" viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-15" x1="0.304808" y1="0.603651" x2="65.9956" y2="51.1225" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="96.3439" y1="45.3408" x2="39.8636" y2="39.6412" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
				<svg class="draw-line lower-right-line"  viewBox="0 0 67 52" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line class="dot-animation dot-animation-15" x1="0.695962" y1="50.9944" x2="66.4846" y2="0.603082" stroke="url(#paint0_linear)"/>
					<defs>
						<linearGradient id="paint0_linear" x1="68.7481" y1="-30.208" x2="48.6359" y2="22.8769" gradientUnits="userSpaceOnUse">
							<stop stop-color="#FBFBFB"/>
							<stop stop-color="#FBFBFB"/>
							<stop offset="1" stop-color="#3D3D3D"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
		</div>
		<div class="main-section-bottom" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
			<div class="main-section-bottom-bg typo-syne-h3">
				Contribution to the growth and adoption of ARTH and MahaDAO ensures you
				rich rewards that will benefit everyone.
			</div>
		</div>
	</div>
</section>
<script>
	$(window).scroll(function() {
	var offset = $("#community-outer").offset().top - 350;
	   if ($(window).scrollTop() >= offset) {	
	     $("#community-outer").addClass("community-jump");
	   }else{
	$("#community-outer").removeClass("community-jump");
	}	
	});
</script>