<section id="section-crose-chain" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
	<div class="container-fluid">
		<div class="card-deck row">
			<div class="col-12 col-md-6 space-between">
				<div class="card card-bg">
					<div class="img-container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
						<img src="../images/crose-chain/farming-card.svg" alt="img" />
					</div>
					<div class="card-body text-left">
						<h5 class="card-title typo-syne-h3">Rich Rewards via Liquidity Farming</h5>
						<div class="card-text typo-body-medium">
							Earn high interests & reap rich rewards on your crypto assets on the The MahaDAO Liquidity 
							Farming Program. A community based approach to market making on your crypto assets, 
							where MAHA tokens are farmed by providing liquidity to create ARTH. As a miner you 
							also earn interest on your ARTH tokens by staking ARTH and earning an interest 
							from the Arth Savings Rate.				 
							<div class="text-orange">
								The MahaDAO Liquidity Farming progra follows an exponential distribution model of 
								rewards in MAHA. Early liquidity miners reap the most rewards. 
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 space-between">
				<div class="card card-bg">
					<div class="img-container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
						<img src="../images/crose-chain/maha-token-img.svg" alt="img" />
					</div>
					<div class="card-body text-left">
						<h5 class="card-title typo-syne-h3">Staking MAHA Token</h5>
						<div class="card-text typo-body-medium">
							Staking helps incentivize early buyers of MAHA tokens to lock and keep their tokens out of circulation.
							Two staking programs with Ferrum Network: $MAHA token staking and Uniswap LP staking.
				</div>
				<div class="card-text card-text-maha typo-body-medium">
							MAHA Staking Window has been closed.
						</div>
				<div class="padding-top-12" class="sm-padding-top-55 padding-bottom-30">

							<a href="staking.html" class="theme-btn-outline btn-md" id="no-txt-decoration">		
							View Status
							</a>
	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>