<section id="section-crose-chain" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">  

	<div class="card-deck row">
	 	<div class="col-12 col-md-6 card">	
			<div class="img-container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<img src="../images/crose-chain/cross-chain-img.svg" alt="img" />
			</div>

			<div class="card-body">
				<h5 class="card-title">Cross-chain liquidity</h5>
				<div class="card-text">
					ARTH is compatible with tokens and currencies from other blockchains to create a massive 
					liquidity pool across the chains. You can stake, lend, borrow, trade 
					ARTH across chains. (coming soon)
				</div> 
			</div>
		</div>	

	 	<div class="col-12 col-md-6 card">
			<div class="img-container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<img src="../images/crose-chain/maha-token-img.svg" alt="img" />
			</div>

			<div class="card-body">
				<h5 class="card-title">Staking MAHA Token</h5>
				<div class="card-text">
					Staking helps incentivize early buyers of MAHA tokens to lock and keep their tokens out of circulation.
					Two staking programs with Ferrum Network: $MAHA token staking and Uniswap LP staking. MAHA Staking Window has been closed.
				</div>
				<div id="padding-top-30" class="sm-padding-top-55 padding-bottom-30">
					<a href="staking.html" id="no-txt-decoration">
						<button class="button-small">
							View Status →
						</button>
					</a>
				</div>	
			</div>
		</div>
	</div>
</section>