<section class="product-section" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
	<div class="container-fluid">
		<div class="product-content">
			<div class="product_title main-heading" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
				Ecosystem Products
			</div>
			<div class="product_title_text" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
				At the core of MahaDAO are products that will fuel the entire ecosystem.
				<br />
				These products are built and managed by the community itself.
			</div>
			<div class="card-deck row">
				<div class="col-12 col-md-4 space-between">
					<div class="card product_card card-bg"  data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
						<img
							src="img/p4.svg"
							alt="product_card_img"
							class="product_card_img"
							style="width: 104px;"
							/>
						<div class="card-title">
							MahaSwap
						</div>
						<div class="product_card_text">
							MahaSwap is an innovative new DEX with incentives for ARTH traders.
						</div>
					<a class="theme-btn-outline btn-md font-14 product_section_learnmore_link" href="https://mahaswap.com/#/swap">						
						MahaSwap						
						</a>
					</div>
				</div>
				<div class="col-12 col-md-4 space-between">
					<div class="card product_card card-bg" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
						<img
							src="img/p1.svg"
							alt="product_card_img"
							class="product_card_img"
							/>
						<div class="card-title">
							ARTH CDP Portal
						</div>
						<div class="product_card_text">
							The CDP portal is governed by MAHA token holders and is used to lock in stable coins and issue ARTH tokens
						</div>
						<a href="" class="product_section_learnmore_link soon">						
						COMING SOON
						</a>
					</div>
				</div>
				<div class="col-12 col-md-4 space-between" >
					<div class="card product_card card-bg" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
						<img
							src="img/p2.svg"
							alt="product_card_img"
							class="product_card_img"
							style="width: 104px;"
							/>
						<div class="card-title">
							Gasless Wallet
						</div>
						<div class="product_card_text">
							The Gasless Wallet is the gateway for all users to easily transact with ARTH
							in seconds, without paying any gas fees.
						</div>
						<a href="" class="product_section_learnmore_link soon">
						COMING SOON
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>