<section id="section-title">
	<div class="container-fluid">
		<div class="title-head main-heading" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<span class="outline-title main-title">
			Timeless value.
			</span>
			<br/>
			World's first non-depreciating currency
		</div>
		<div class="title-down-text">
			<div class="line"></div>
			<div class="text-slide-right">
				<p>
					Introducing ARTH coin. A new kind of money
					that maintains it's buying power
					irrespective of which direction the market moves.
				</p>
			</div>
		</div>
		<div class="d-md-inline-block d-sm-block sm-center hero-link">
			<a id="no-txt-decoration" class="theme-btn btn-md" target="_blank" href="https://info.uniswap.org/token/0xb4d930279552397bba2ee473229f89ec245bc365"  id="whitepaper-main">
			Use Arth
			</a>
		</div>
		<div class="d-md-inline-block d-sm-block sm-center hero-link">
			<a  id="no-txt-decoration" class="link-white imagine-link" data-toggle="modal" data-target="#videoModal"  href="javascript:void(0)"  id="whitepaper-main">
			<span class="mr-1"><img src="../../images/white-tringle.svg" alt="" /></span> Imagine. ARTH
			</a>
		</div>
	</div>
</section>
<div id="videoModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<span class="close-btn" data-dismiss="modal"></span>     
			</div>
			<div class="video-outer">
				<iframe id="video" src="https://www.youtube.com/embed/H94S32HXqmU" frameborder="0" allow="accelerometer; autoplay;" allowfullscreen></iframe>				
			</div>
		</div>
	</div>
</div>

<script> 
$('.close-btn').click(function(){
   $('#video').attr('src', 'https://www.youtube.com/embed/H94S32HXqmU');
});
</script>