<section id="section-title">
	<div class="title-head" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		<span class="main-title">
			Timeless value.
		</span>
		<br/>
		World's first non-depreciating currency
	</div>
	<div class="title-down-text"> 
		<div class="line"></div>
		<div class="text-slide-right">
			<p>
				Introducing ARTH coin. A new kind of money
				that maintains it's buying power
				irrespective of which direction the market moves.
			</p>
		</div>	
	</div>

    <a  class="button1" target="_blank" href="https://info.uniswap.org/token/0xb4d930279552397bba2ee473229f89ec245bc365"  id="whitepaper-main">
		Use Arth
	</a>
	<a  id="no-txt-decoration" class="link-white ml-2" target="_blank" href="https://info.uniswap.org/pair/0x35b6f9e6300aa6c722ea189e096b0b073025806f"  id="whitepaper-main">
		<span class="tringle-shap mr-1"></span> Imagine. Arth
	</a>
</section>