<section id="section-three-features" class="section-three-features">
    <div class="container-fluid">
        <div class="card-deck row">
            <div class="col-12 col-md-4" id="preserve-buying-animations">
                <div class="card card-bg" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                    <div class="img-container img-container-head" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
                        <div class="preserve-ani">
                            <svg class="ball-1" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.5 19.1999C4.31018 19.1999 0 14.9777 0 9.69995C0 4.42217 4.22222 0.199951 9.5 0.199951C14.7778 0.199951 19 4.42217 19 9.69995C19 14.9777 14.6898 19.1999 9.5 19.1999Z" fill="url(#paint0_linear1)"/>
                                <defs>
                                    <linearGradient id="paint0_linear1" x1="16.151" y1="3.08039" x2="2.77092" y2="16.4602" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F18973"/>
                                        <stop offset="0.704" stop-color="#C33F50"/>
                                        <stop offset="1" stop-color="#A91E42"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                            <svg class="curve-1" width="89" height="65" viewBox="0 0 89 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 56.6999H52C54.9 56.6999 57.7 55.1999 60.2 52.3999L81.0974 3.94922" stroke="url(#paint0_linear)" stroke-width="16"/>
                                <defs>
                                    <linearGradient id="paint0_linear" x1="-0.0444" y1="32.4933" x2="93.7853" y2="32.4933" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F18973" stop-opacity="0"/>
                                        <stop offset="0.704" stop-color="#C33F50" stop-opacity="0.704"/>
                                        <stop offset="1" stop-color="#A91E42"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                            <svg class="ball-2" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.5 19.1999C4.31018 19.1999 0 14.9777 0 9.69995C0 4.42217 4.22222 0.199951 9.5 0.199951C14.7778 0.199951 19 4.42217 19 9.69995C19 14.9777 14.6898 19.1999 9.5 19.1999Z" fill="url(#paint0_linear1)"/>
                                <defs>
                                    <linearGradient id="paint0_linear1" x1="16.151" y1="3.08039" x2="2.77092" y2="16.4602" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F18973"/>
                                        <stop offset="0.704" stop-color="#C33F50"/>
                                        <stop offset="1" stop-color="#A91E42"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                            <svg class="curve-1 curve-2" width="90" height="65" viewBox="0 0 90 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.700195 56.7253H52.7002C55.6002 56.7253 58.4002 55.2253 60.9002 52.4253L81.7976 3.97461" stroke="url(#paint0_linear)" stroke-width="16"/>
                                <defs>
                                    <linearGradient id="paint0_linear" x1="0.655795" y1="32.5186" x2="94.4855" y2="32.5186" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F18973" stop-opacity="0"/>
                                        <stop offset="0.704" stop-color="#C33F50" stop-opacity="0.704"/>
                                        <stop offset="1" stop-color="#A91E42"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                            <svg class="ball-2 ball-3" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.5 19.1999C4.31018 19.1999 0 14.9777 0 9.69995C0 4.42217 4.22222 0.199951 9.5 0.199951C14.7778 0.199951 19 4.42217 19 9.69995C19 14.9777 14.6898 19.1999 9.5 19.1999Z" fill="url(#paint0_linear1)"/>
                                <defs>
                                    <linearGradient id="paint0_linear1" x1="16.151" y1="3.08039" x2="2.77092" y2="16.4602" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F18973"/>
                                        <stop offset="0.704" stop-color="#C33F50"/>
                                        <stop offset="1" stop-color="#A91E42"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    <div class="card-body"  data-aos="fade-up" data-aos-duration="2500" data-aos-once="true">
                        <h5 class="card-title typo-syne-h2">
                            Preserve Wealth
                        </h5>
                        <p class="card-text typo-body-medium">
                            No more erosion of hard-earned wealth due to inflation. ARTH protects and increases your purchasing power by shielding your financial
                            life from the effects of excessive money printing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4" id="value-stability-animations">
                <div class="card card-bg"  data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                    <div class="img-container img-container-head" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
                        <div class="value-stability-ani">
                            <img src="./img/feature-icon/value-stability-ring-2.svg" alt="" class="flip flip-s">
                            <img src="./img/feature-icon/value-stability-ring-1.svg" alt="" class="flip flip-s-2">
                            <span class="center-ball"></span>
                        </div>
                    </div>
                    <div class="card-body" data-aos="fade-up" data-aos-duration="2500" data-aos-once="true">
                        <h5 class="card-title typo-syne-h2">
                            Value Stable
                        </h5>
                        <p class="card-text typo-body-medium">
                            ARTH is pegged against a Global Measurement Unit consisting of a well-diversified, anti-correlated,
                            carefully curated basket of assets to provide ARTH users a lasting stability of intrinsic value.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4" id="elastic-supply-animations">
                <div class="card card-bg"  data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
                    <div class="img-container img-container-head" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
                        <div class="elastic-supply">
                            <span class="elastic-triangle triangle-1"></span>
                            <span class="elastic-triangle triangle-2"></span>
                            <span class="elastic-triangle triangle-3"></span>
                        </div>
                    </div>
                    <div class="card-body" data-aos="fade-up" data-aos-duration="2500" data-aos-once="true">
                        <h5 class="card-title typo-syne-h2">
                            Social Good
                        </h5>
                        <p class="card-text typo-body-medium">
                            ARTH is one of the first currencies that will not only protect people's wealth but will also
                            promote social good.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    $(window).scroll(function() {
    var offset = $("#preserve-buying-animations").offset().top - 550 ;
       if ($(window).scrollTop() >= offset) {
         $("#preserve-buying-animations").addClass("three-features-jump");
       }else{
    $("#preserve-buying-animations").removeClass("three-features-jump");
    }
    });

    $(window).scroll(function() {
    var offset = $("#value-stability-animations").offset().top - 550 ;
       if ($(window).scrollTop() >= offset) {
         $("#value-stability-animations").addClass("three-features-jump");
       }else{
    $("#value-stability-animations").removeClass("three-features-jump");
    }
    });

    $(window).scroll(function() {
    var offset = $("#elastic-supply-animations").offset().top - 550 ;
       if ($(window).scrollTop() >= offset) {
         $("#elastic-supply-animations").addClass("three-features-jump");
       }else{
    $("#elastic-supply-animations").removeClass("three-features-jump");
    }
    });

</script>
