<section  id="section-media-coverage" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	
	<div class="f-text-title">
		Media Coverage
	</div>

    <div class="card-deck row no-gutters">
		<div class="col-12 col-sm-6 col-md-3 card media-logo"> <a target="_blank" href="https://finance.yahoo.com/news/defi-protocol-mahadao-announces-ido-131000277.html?guccounter=1#:~:text=TORTOLA,%20BRITISH%20VIRGIN%20ISLANDS%20%2F%20ACCESSWIRE,chain%20pools,%20on%20December%2017"><img src="../../images/media-logo/media-logo-1.svg" alt="" /></a></div>	
		<div class="col-12 col-sm-6 col-md-3 card media-logo"> <a target="_blank" href="https://coincodex.com/article/10171/mahadao-defi-protocol-taps-polkastarter-for-its-ido/"><img src="../../images/media-logo/media-logo-2.svg" alt="" /></a></div>	
		<div class="col-12 col-sm-6 col-md-3 card media-logo"> <a target="_blank" href="https://cryptodaily.co.uk/2020/12/mahadao-will-host-one-of-the-first-idos-on-polkastarter"><img src="../../images/media-logo/media-logo-3.svg" alt="" /></a></div>	
		<div class="col-12 col-sm-6 col-md-3 card media-logo"> <a target="_blank" href="https://ihodl.com/topnews/2020-12-14/polkastarter-dex-launches-mahadao-token-sale-its-first-week/"><img src="../../images/media-logo/media-logo-4.svg" alt="" /></a></div>		
	</div>

    <div class="card-deck row no-gutters">
		<div class="col-12 col-sm-6 col-md-3 card media-logo"> <a target="_blank" href="https://www.insightssuccess.in/mahadao-announces-their-initial-dex-offering-ido-for-the-maha-governance-token/"><img src="../../images/media-logo/media-logo-5.svg" alt="" /></a></div>	
		<div class="col-12 col-sm-6 col-md-3 card media-logo"> <a target="_blank" href="https://www.malaysiasun.com/news/267277560/mahadao-announces-ido-for-maha-governance-token"><img src="../../images/media-logo/media-logo-6.svg" alt="" /></a></div>	
		<div class="col-12 col-sm-6 col-md-3 card media-logo"> <a target="_blank" href="https://www.business-standard.com/content/press-releases-ani/mahadao-announces-their-initial-dex-offering-ido-for-the-maha-governance-token-120121700549_1.html"><img src="../../images/media-logo/media-logo-7.svg" alt="" /></a></div>	
		<div class="col-12 col-sm-6 col-md-3 card media-logo"> <a target="_blank" href="https://www.devdiscourse.com/article/business/1373493-mahadao-announces-their-initial-dex-offering-ido-for-the-maha-governance-token"><img src="../../images/media-logo/media-logo-8.svg" alt="" /></a></div>		
	</div>

    <div class="card-deck row no-gutters">
		<div class="col-12 col-sm-6 col-md-3 card media-logo"> <a target="_blank" href="http://www.businessworld.in/article/MahaDAO-Announces-their-Initial-DEX-Offering-IDO-for-the-MAHA-Governance-Token/17-12-2020-354746/"><img src="../../images/media-logo/media-logo-9.svg"  alt="" /></a></div>	
		<div class="col-12 col-sm-6 col-md-3 card media-logo"> <a target="_blank" href="https://www.mangaloremirror.com/mahadao-announces-their-initial-dex-offering-ido-for-the-maha-governance-token/"><img src="../../images/media-logo/media-logo-10.svg" alt="" /></a></div>	
		<div class="col-12 col-sm-6 col-md-3 card media-logo"> <a target="_blank" href="https://m.dailyhunt.in/news/india/english/lokmat+english-epaper-lokmaten/mahadao+announces+their+initial+dex+offering+ido+for+the+maha+governance+token-newsid-n237116038"><img src="../../images/media-logo/media-logo-11.svg" alt="" /></a></div>	
		<div class="col-12 col-sm-6 col-md-3 card media-logo" style="background-color:#171717"></div>		
	</div>	
</section>
