<section id="section-timer" data-aos="" data-aos-duration="1000" data-aos-once="true">
	<div class="main-title">
		MAHA Staking Going Live on	
		<p style="font-size: 18px">25th Dec 2020 3:00PM GMT</p>	
	</div>
	
	<div class="timer_row">
		 <div class="timer_box"><div class="timer_number" id="timerDays">   </div> <span class="timer_text">Days   </span></div>
		 <div class="timer_box"><div class="timer_number" id="timerHours">  </div> <span class="timer_text">Hours  </span></div>
		 <div class="timer_box"><div class="timer_number" id="timerMinutes"></div> <span class="timer_text">Minutes</span></div>
		 <div class="timer_box"><div class="timer_number" id="timerSeconds"></div> <span class="timer_text">Seconds</span></div>
	</div>
	
	<div class="button1">
		<a id="no-txt-decoration" class="button1" href="staking.html">STAKE NOW</a>
	</div>	
</section>	

<section id="section-timer-second" data-aos="" data-aos-duration="1000" data-aos-once="true" style="display:none">
	<div class="main-title">
		MAHA Staking is Live now
		<p style="font-size: 18px">Staking Window closes on 2nd Jan 2021 4:00 PM GMT</p>	
	</div>
	
	<div class="timer_row">
		 <div class="timer_box"><div class="timer_number" id="timerDays">   </div> <span class="timer_text">Days   </span></div>
		 <div class="timer_box"><div class="timer_number" id="timerHours">  </div> <span class="timer_text">Hours  </span></div>
		 <div class="timer_box"><div class="timer_number" id="timerMinutes"></div> <span class="timer_text">Minutes</span></div>
		 <div class="timer_box"><div class="timer_number" id="timerSeconds"></div> <span class="timer_text">Seconds</span></div>
	</div>
	
	<div class="button1">
		<a id="no-txt-decoration" class="button1" href="staking.html">STAKE NOW</a>
	</div>	
</section>

<script type="text/javascript">
var timer;
function settimer(days,months,years,hours,mins)
{
	currentTime = new Date();
	
	clearInterval(timer);
	var timer_month=months;
	var timer_day=days;
	var timer_year=years;
	var timer_hour=hours;
	if(timer_hour=="")timer_hour=0;
	var timer_min=mins;
	if(timer_min=="")timer_min=0;
	 
	var timer_date=timer_year+"/"+timer_month+"/"+timer_day+" "+timer_hour+":"+timer_min+":00 UTC";
	var end = new Date(timer_date); // Arrange values in Date Time Format
	var now = new Date().toLocaleString(); // Get Current date time
	var second = 1000; // Total Millisecond In One Sec
	var minute = second * 60; // Total Sec In One Min
	var hour = minute * 60; // Total Min In One Hour
	var day = hour * 24; // Total Hour In One Day
 

	function showtimer() {
		var now = new Date();
		var remain = end - Date.parse(now); // Get The Difference Between Current and entered date time
		if(remain > 0)
		{	
			var days = Math.floor(remain / day); // Get Remaining Days
			var hours = Math.floor((remain % day) / hour); // Get Remaining Hours
			var minutes = Math.floor((remain % hour) / minute); // Get Remaining Min
			var seconds = Math.floor((remain % minute) / second); // Get Remaining Sec
			document.getElementById("timerDays").innerHTML = days;
			document.getElementById("timerHours").innerHTML = hours;
			document.getElementById("timerMinutes").innerHTML = minutes;
			document.getElementById("timerSeconds").innerHTML = seconds;
		}
		else
		{  
			clearInterval(timer);
			settimer(1,1,2021,15,00);
			document.getElementById("section-timer-second").setAttribute("class", "showclass");
			document.getElementById("section-timer").setAttribute("class", "hideclass");
			return;
		}
	}
	timer = setInterval(showtimer, 1000); // Display Timer In Every 1 Sec
}
settimer(25,12,2020,15,00);
</script>