<section id="section-timer" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
 <div class="container-fluid">
	<div class="main-title" id="timer-1"></div>
		<div id="timer_row" class="timer_row" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
			 <div class="timer_box"><div class="timer_number" id="timerDays">	</div> <span class="timer_text">Days   </span></div>
			 <div class="timer_box"><div class="timer_number" id="timerHours">  </div> <span class="timer_text">Hours  </span></div>
			 <div class="timer_box"><div class="timer_number" id="timerMinutes"></div> <span class="timer_text">Minutes</span></div>
			 <div class="timer_box"><div class="timer_number" id="timerSeconds"></div> <span class="timer_text">Seconds</span></div>
		</div>
     <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
     <script type="text/javascript">
       window.addeventasync = function(){
         addeventatc.settings({
           appleical  : {show:true, text:"Apple Calendar"},
           google     : {show:true, text:"Google Calendar"},
           office365  : {show:false, text:"Office 365 <em>(online)</em>"},
           outlook    : {show:false, text:"Outlook"},
           outlookcom : {show:false, text:"Outlook.com <em>(online)</em>"},
           yahoo      : {show:false, text:"Yahoo <em>(online)</em>"}
         });
       };
     </script>
    <div class="action-btn">
      <div  id="timer-1-button" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
          <a id="no-txt-decoration" target="_blank" class="theme-btn btn-md" href="https://arthcoin.com/#/stats">arthcoin.com</a>
      </div>

      <div id="google_add_calendar" onclick="window.open('https://calendar.google.com/calendar/u/0/r/eventedit?dates=20210622T150000Z/20210622T160000Z&location=https://arthcoin.com/&text=ARTH-v2+Genesis&details=The+ARTH+v2+Genesis,+which+will+be+live+on+the+Polygon+network.+Visit+https://arthcoin.com/+to+be+a+part+of+genesis.')">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Google_Calendar_icon_%282020%29.svg/1200px-Google_Calendar_icon_%282020%29.svg.png" alt="calendar" height="24">
        <span style="margin-left: 8px;">Add to Calendar</span>
      </div>

     <!-- <div title="Add to Calendar" class="addeventatc">
        Add to Calendar
        <span class="start">06/22/2021 03:00 PM</span>
        <span class="title">ARTH-v2 Genesis</span>
        <span class="description">Launch of Arth-v2</span>
        <span class="location">https://arthcoin.com/</span>
      </div>-->
<!--    </div>-->
	</div>
</section>


<script type="text/javascript">
var timer;
var timesec = 1;

function settimer(days,months,years,hours,mins)
{
	currentTime = new Date();

	clearInterval(timer);
	var timer_month=months;
	var timer_day=days;
	var timer_year=years;
	var timer_hour=hours;
	if(timer_hour=="")timer_hour=0;
	var timer_min=mins;
	if(timer_min=="")timer_min=0;

	var timer_date=timer_year+"/"+timer_month+"/"+timer_day+" "+timer_hour+":"+timer_min+":00 UTC";
	var end = new Date(timer_date); // Arrange values in Date Time Format
	var now = new Date().toLocaleString(); // Get Current date time
	var second = 1000; // Total Millisecond In One Sec
	var minute = second * 60; // Total Sec In One Min
	var hour = minute * 60; // Total Min In One Hour
	var day = hour * 24; // Total Hour In One Day


	function showtimer() {
		var now = new Date();
		var remain = end - Date.parse(now); // Get The Difference Between Current and entered date time
		if(remain > 0)
		{
			var days = Math.floor(remain / day); // Get Remaining Days
			var hours = Math.floor((remain % day) / hour); // Get Remaining Hours
			var minutes = Math.floor((remain % hour) / minute); // Get Remaining Min
			var seconds = Math.floor((remain % minute) / second); // Get Remaining Sec
			document.getElementById("timerDays").innerHTML = days;
			document.getElementById("timerHours").innerHTML = hours;
			document.getElementById("timerMinutes").innerHTML = minutes;
			document.getElementById("timerSeconds").innerHTML = seconds;
		}
		else
		{
			timesec = 2
			$('#timer_row').hide();

		}

		if (timesec == 1){
			document.getElementById("timer-1").innerHTML = '<div class="main-heading">ARTH Expansion in</div>';
		}
		else
		{
			document.getElementById("timer-1").innerHTML = '<div class="main-heading">ARTH Expansion is on</div>';
		}
	}
	timer = setInterval(showtimer, 1000); // Display Timer In Every 1 Sec
}
settimer(22,06,2021,15,00);
</script>
