<div class="outer-div">
	<section id="section-token-logos">
		<div class="container-fluid">
			<div class="coin-arth row">
				<div class="col-12 col-md-6 token" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="card-title typo-syne-h2">
						ARTH
						<br />
						World’s first valuecoin
					</div>

					<div class="icon-section">
						<div class="pulse1"></div>
						<div class="pulse2"></div>
						<div class="pulse3"></div>
						<div class="pulse4"></div>
						<div class="pulse5"></div>
						<div class="pulse6"></div>
						<div class="pulse7"></div>
						<img src="./img/arthborderlines.svg" alt="frame" class="rightpara-leftfig-img" />
						<img src="./img/arthframe.svg" alt="frame" style="margin-top: 5px;margin-left:3px;" class="rightpara-leftfig-img-inner arth"/>
						<div class="token-title">
							ARTH
						</div>
					</div>

					<div  class="para-text margin-top-35">
						<div id="padding-top-30" class="text-center">
							<a class="theme-btn btn-md" target="_blank" href="https://arthcoin.com">
								View Website
							</a>
						</div>
						<div class="side-text typo-body-large text-left">
							ARTH is a decentralized algorithmic currency that aims to fight depreciation. Irrespective of which direction the market moves,
							ARTH coin holders will never lose their buying power.
						</div>
						<div class="side-text typo-body-large text-left">
							ARTH gives you financial freedom with no volatility as it’s a value-stable currency that you control.
							ARTH means wealth creation, one of the foremost goals of human life.
							<p>
								<a class ="Learn-more-link" href="arth.html" id="no-txt-decoration">
								<strong>Learn More</strong> </a>
							</p>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-6 token" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="card-title typo-syne-h2">
						MAHA
						<br />
						Governance & Utility Token
					</div>

					<div class="icon-section">
						<div class="circle1"></div>
						<div class="circle2"></div>
						<div class="circle3"></div>
						<div class="circle4"></div>
						<div class="circle5"></div>
						<div class="circle6"></div>
						<div class="circle7"></div>
						<img src="./img/mahaborderlines.svg" alt="frame" class="rightpara-leftfig-img" />
						<img src="./img/mahaframe.svg" alt="frame" style="margin-top: 5px;margin-left:3px;" class="rightpara-leftfig-img-inner arth"/>
						<div class="token-title">
							MAHA
						</div>
					</div>

					<div class="para-text margin-top-35">
						<div id="padding-top-30" class="text-center">
							<a class="theme-btn btn-md" target="_blank" href="https://app.uniswap.org/#/swap?outputCurrency=0xb4d930279552397bba2ee473229f89ec245bc365">
								MAHA Uniswap
							</a>
						</div>
						<div class="side-text typo-body-large text-left">
							MAHA is a governance token that empowers the token holders to vote on savings rates, stability fees, direction, strategy and future course of action for the ARTH coin.
						</div>
						<div class="side-text typo-body-large  text-left">
							The MAHA tokens help keep the ARTH coin completely decentralised.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
