{{! Footer }}
<footer>
	<div class="container-fluid footer-content">
		<div class="footer-wrap row" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div class="col-sm-2 col-md-2 col-6">
				<div class="card-title footer-title">Resources</div>
				<ul class="footer-link">
				<li><a class="opacity-link" href="/arth.html">ARTH Valuecoin</a></li>
				<li><a class="opacity-link" href="/ARTH Whitepaper - MAHADAO - 1.1.1 draft.pdf">Whitepaper</a></li>
				<li><a class="opacity-link" href="https://docs.arthcoin.com/">Gitbook</a></li>
				<li><a class="opacity-link" href="https://etherscan.io/token/0xb4d930279552397bba2ee473229f89ec245bc365">MAHA Etherscan</a></li>
				<li><a class="opacity-link" href="https://etherscan.io/token/0xce0f09b77a911593d58d23e9d06f59cf3f0ad342">ARTH Etherscan</a></li>				  			  			  			  			
				</ul>
			</div>
			<div class="col-sm-2 col-md-2 col-6">
				<div class="card-title footer-title">Products</div>
				<ul class="footer-link">					
				<li><a class="opacity-link" href="https://arthcoin.com/#/">Arthcoin</a></li>
				<li><a class="opacity-link" href="https://mahaswap.com/">MahaSwap</a></li>
				<li><a class="opacity-link" href="/staking.html">Stake</a></li>
				<li><a class="opacity-link" href="https://vote.mahadao.com/">Vote</a></li>					
				</ul>
			</div>
			<div class="col-sm-2 col-md-2 col-6">
				<div class="card-title footer-title">About</div>
				<ul class="footer-link">
				<li><a class="opacity-link" href="about.html">Team</a></li>
				<li><a class="opacity-link" href="about.html">Partners</a></li>
				<li><a class="opacity-link" href="#">Tokenomics</a></li>
				<li><a class="opacity-link" href="brandkit.html">Brand kit</a></li>		  			  			  			  				
				</ul>
			</div>
			<div class="col-sm-2 col-md-2 col-6">
				<div class="card-title footer-title">Contact us</div>
				<ul class="footer-link">
					<li><a class="opacity-link" href="#">Business</a></li>	
					<li><a class="opacity-link" href="#">Marketing</a></li>				  			  			  			  				
				</ul>
			</div>				
			<div class="col-sm-4 col-md-4">
				<div class="card-title footer-title">
					Join  the community
				</div>
				<div class="footer-text">
					Learn more about the MahaDAO, chat with the team
					and others in the community. Have your say in shaping
					the future of decentralized finance.
				</div>
				<div class="social-items">
					<a id="social-twitter" href="https://twitter.com/TheMahaDAO">
						<button class="button3 ml-0">
							<i class="fab fa-twitter"></i>
						</button>
					</a>
						<a id="social-telegram" href="https://t.me/MahaDAO">
						<button class="button3">
							<i class="fab fa-telegram-plane"></i>
						</button>
					</a>
					<a id="social-medium" href="https://medium.com/mahadao">
						<button class="button3">
							<i class="fab fa-medium"></i>
						</button>
					</a>

					<a id="social-reddit" href="https://www.reddit.com/r/MahaDAO/">
						<button class="button3">
							<i class="fab fa-reddit"></i>
						</button>
					</a>
				
					<a id="social-github" href="https://github.com/mahadao">
						<button class="button3">
							<i class="fab fa-github"></i>
						</button>
					</a>
				
					<a id="social-discord" href="https://discord.gg/V6sr3fe">
						<button class="button3">
							<i class="fab fa-discord"></i>
						</button>
					</a>
					<a id="social-discord" href="https://discuss.mahadao.com/">
						<button class="button3">
							<i class="fab fas fa-comment"></i>
						</button>
					</a>
				</div>
			</div>
		</div>
		<div class="white-line"></div>
		<!--<div class="footer-wrap d-flex footer-btm">
			&#169; 2021 MahaDAO
			<div class="ml-auto">			
				<a  class="opacity-link" href="#">Privacy Policy</a>
			</div>
		</div>-->
		<div id="footer-gradient"></div>
	</div>
</footer>

<script>
	$('.text-change').hover(function(){
		$(this).text("Coming Soon");
	}, function() {
		$(this).text("ARTH Uniswap");
	});	
</script>

<script>
	$(window).resize(function() {
		if ($(window).width() < 450) {
		$('.footer-btn').addClass('order-first');
    }
		else {$('.footer-btn').removeClass('order-first');}
	});
</script>