{{! Footer }}
<footer>
	<div class="container footer-content">
		<div class="white-line"></div>
		<div class="footer-wrap row" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div class="col-sm-6 col-md-6">
				<div class="card-title footer-title">
					Join  the community
				</div>
				<div class="footer-text">
					Learn more about the MahaDAO, chat with the team<br>
					and others in the community. Have your say in shaping<br>
					the future of decentralized finance.
				</div>
				<div class="social-items">
					<a id="social-twitter" href="https://twitter.com/TheMahaDAO">
						<button class="button3">
							<i class="fab fa-twitter"></i>
						</button>
					</a>
					<a id="social-medium" href="https://medium.com/mahadao">
						<button class="button3">
							<i class="fab fa-medium"></i>
						</button>
					</a>
					<a id="social-telegram" href="https://t.me/MahaDAO">
						<button class="button3">
							<i class="fab fa-telegram-plane"></i>
						</button>
					</a>
					<a id="social-github" href="https://github.com/mahadao">
						<button class="button3">
							<i class="fab fa-github"></i>
						</button>
					</a>
					<a id="social-reddit" href="https://www.reddit.com/r/MahaDAO/">
						<button class="button3">
							<i class="fab fa-reddit"></i>
						</button>
					</a>
					<a id="social-discord" href="https://discord.gg/V6sr3fe">
						<button class="button3">
							<i class="fab fa-discord"></i>
						</button>
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-sm-3 col-md-3">
				<ul class="footer-link">
					<li class="pt-2"><a href="https://arthcoin.com">arthcoin.com</a></li>					
				</ul>    
			</div>
			<div class="col-lg-4 col-sm-3 col-md-3 footer-btn">
				<ul class="equal-btn-mobile float-lg-right">
					<li>
						<a class="button1" target="_blank" href="https://info.uniswap.org/pair/0x5E5aCce4fFb60048BaB967DCADD293dA07093ac3">
							ARTH Uniswap
						</a>
					</li>
					<li>
						<a class="button1" target="_blank" href="https://info.uniswap.org/token/0xb4d930279552397bba2ee473229f89ec245bc365">
							MAHA Uniswap
						</a>
					</li>          
				</ul>
			</div>
		</div>
		<div id="footer-gradient"></div>
	</div>
</footer>

<script>
	$('.text-change').hover(function(){
		$(this).text("Coming Soon");
	}, function() {
		$(this).text("ARTH Uniswap");
	});	
</script>

<script>
	$(window).resize(function() {
		if ($(window).width() < 450) {
		$('.footer-btn').addClass('order-first');
    }
		else {$('.footer-btn').removeClass('order-first');}
	});
</script>