{{! Header }}
<div class="token-header">
  <div class="header-token-row">
    <div class="tokenadd">
      <a href="https://etherscan.io/token/0xb4d930279552397bba2ee473229f89ec245bc365" target="_blank">MAHA Token Address(Ethereum)</a>
    </div>

    <div class="tokenadd">
      <a href="https://polygonscan.com/token/0xedd6ca8a4202d4a36611e2fff109648c4863ae19" target="_blank">MAHA Token Address(Polygon)</a>
    </div>
  </div>

  <div class="header-token-row">
    <div class="tokenadd">
      <a href="https://polygonscan.com/token/0xe52509181feb30eb4979e29ec70d50fd5c44d590" target="_blank">ARTH Token Address(Polygon)
      </a>
    </div>

    <div class="tokenadd">
      <a href="https://polygonscan.com/token/0xd354d56dae3588f1145dd664bc5094437b889d6f" target="_blank">ARTHX Token Address(Polygon)
      </a>
    </div>
  </div>
</div>

<header id="header"  class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="mahadao-logo" href="/"><img src="../../images/mainlogo.svg" alt="mahadao-logo" /></a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
			<span class="nav-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="collapsibleNavbar">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item dropdown">
					<a class="nav-link opacity-link dropdown-toggle" href="javascript:void(0)" id="navbardrop" data-toggle="dropdown">Products</a>
					<div class="dropdown-menu">
						<div class="dropdown-menu-outer">
							<div class="dropdown-menu-link">
								<a class="dropdown-item opacity-link" href="https://arthcoin.com/#/">Arthcoin</a>
								<!--<a class="dropdown-item opacity-link" href="https://mahaswap.com/">MahaSwap</a>-->
								<a class="dropdown-item opacity-link" href="/staking.html">Stake</a>
								<a class="dropdown-item opacity-link" href="https://vote.mahadao.com/">Vote</a>
							</div>
						</div>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link opacity-link  dropdown-toggle" href="javascript:void(0)" id="navbardrop" data-toggle="dropdown">Community</a>
					<div class="dropdown-menu">
						<div class="dropdown-menu-outer">
							<div class="dropdown-menu-link">
								<a class="dropdown-item opacity-link" target="_blank" href="https://twitter.com/TheMahaDAO">Twitter</a>
								<a class="dropdown-item opacity-link" target="_blank" href="https://medium.com/mahadao">Medium</a>
								<a class="dropdown-item opacity-link" target="_blank" href="https://github.com/mahadao">Github</a>
								<a class="dropdown-item opacity-link" target="_blank" href="https://discuss.mahadao.com/">Forum</a>
							</div>
							<div class="dropdown-menu-link">
								<a class="dropdown-item opacity-link" target="_blank" href="https://t.me/MahaDAO">Telegram</a>
								<a class="dropdown-item opacity-link" target="_blank" href="https://www.reddit.com/r/MahaDAO/">Reddit</a>
								<a class="dropdown-item opacity-link" target="_blank" href="https://discord.gg/mahadao">Discord</a>
								<a class="dropdown-item opacity-link" target="_blank" href="https://vote.mahadao.com/#/">Vote</a>
							</div>
						</div>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link opacity-link  dropdown-toggle" href="javascript:void(0)" id="navbardrop" data-toggle="dropdown">Resources</a>
					<div class="dropdown-menu">
						<div class="dropdown-menu-outer d-none d-lg-block">
							<div class="dropdown-menu-link">
								<a class="dropdown-item opacity-link" href="/arth.html">ARTH Valuecoin</a>
                <a class="dropdown-item opacity-link" href="/arthx.html">Arthx</a>
                <a class="dropdown-item opacity-link" target="_blank" href="https://docs.arthcoin.com/">Whitepaper</a>
								<a class="dropdown-item opacity-link" target="_blank" href="https://etherscan.io/token/0xb4d930279552397bba2ee473229f89ec245bc365">MAHA Etherscan</a>
								<a class="dropdown-item opacity-link" target="_blank" href="https://etherscan.io/token/0xce0f09b77a911593d58d23e9d06f59cf3f0ad342">ARTH Etherscan</a>
							</div>
						</div>

						<div class="dropdown-menu-outer d-lg-none d-md-block d-sm-block">
							<div class="dropdown-menu-link">
								<a class="dropdown-item opacity-link" href="/arth.html">ARTH Valuecoin</a>
                <a class="dropdown-item opacity-link" href="/arthx.html">Arthx</a>
                <a class="dropdown-item opacity-link" target="_blank" href="/ARTH Whitepaper - MAHADAO - 1.1.1 draft.pdf">Whitepaper</a>
								<a class="dropdown-item opacity-link" target="_blank" href="https://docs.arthcoin.com/">Gitbook</a>
							</div>

							<div class="dropdown-menu-link">
								<a class="dropdown-item opacity-link" target="_blank" href="https://etherscan.io/token/0xb4d930279552397bba2ee473229f89ec245bc365">MAHA Etherscan</a>
								<a class="dropdown-item opacity-link" target="_blank" href="https://etherscan.io/token/0xce0f09b77a911593d58d23e9d06f59cf3f0ad342">ARTH Etherscan</a>
							</div>
						</div>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link opacity-link  dropdown-toggle" href="javascript:void(0)" id="navbardrop" data-toggle="dropdown">About</a>
					<div class="dropdown-menu">
						<div class="dropdown-menu-outer">
							<div class="dropdown-menu-link">
								<a class="dropdown-item opacity-link" href="about.html">Team</a>
								<a class="dropdown-item opacity-link" href="about.html#mahadao-partners">Partners</a>
								<a class="dropdown-item opacity-link" href="tokenomics.html">Tokenomics</a>
								<a class="dropdown-item opacity-link" href="/ambassadors.html">Ambassadors</a>
								<a class="dropdown-item opacity-link" href="brandkit.html">Brand kit</a>
							</div>
						</div>
					</div>
				</li>

				{{!-- <li class="nav-item nav-item-gray-btn">
					<a class="nav-link btn-orange theme-btn-outline" target="_blank" href="https://mahaswap.com/">MahaSwap</a>
				</li> --}}

				{{!-- <li class="nav-item">
					<a class="nav-link btn-orange theme-btn" target="_blank" href="https://arthcoin.com/">Arthcoin.com</a>
				</li> --}}
			</ul>
		</div>
	</div>
</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>$(document).on("scroll", function () {
	if
		($(document).scrollTop() > 50) {
		$("body").addClass("fixed_header");
	}
	else {
		$("body").removeClass("fixed_header");
	}
	});
</script>
