{{! Header }}
<header id="header"  class="navbar navbar-expand-md">
	<div class="container">
		<a class="mahadao-logo" href="/"><img src="../../images/mainlogo.svg" alt="mahadao-logo" /></a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
			<span class="nav-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="collapsibleNavbar">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle" href="javascript:void(0)" id="navbardrop" data-toggle="dropdown">Community</a>
					<div class="dropdown-menu">
						<div class="dropdown-menu-outer">
							<div class="dropdown-menu-link">
								<a class="dropdown-item" href="https://discuss.mahadao.com/">Forum</a>
								<a class="dropdown-item" href="https://vote.mahadao.com/#/">Governance</a>
								<a class="dropdown-item" href="https://t.me/MahaDAO">Telegram</a>
								<a class="dropdown-item" href="https://discord.gg/V6sr3fe">Discord</a>
							</div>	
							<div class="dropdown-menu-link">
								<a class="dropdown-item" href="https://github.com/mahadao">Github</a>
								<a class="dropdown-item" href="https://twitter.com/TheMahaDAO">Twitter</a>
								<a class="dropdown-item" href="https://medium.com/mahadao">Medium</a>
								<a class="dropdown-item" href="https://www.reddit.com/r/MahaDAO/">Reddit</a>
							</div>
						</div>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle" href="javascript:void(0)" id="navbardrop" data-toggle="dropdown">Resources</a>
					<div class="dropdown-menu">
						<div class="dropdown-menu-outer d-none d-lg-block">
							<div class="dropdown-menu-link">
								<a class="dropdown-item" href="/ARTH Whitepaper - 1.1.0 Draft.pdf">Whitepaper</a>
								<a class="dropdown-item" href="https://docs.arthcoin.com/">Gitbook</a>
								<a class="dropdown-item" href="https://arthcoin.com">Arth</a>
								<a class="dropdown-item" href="https://etherscan.io/token/0xb4d930279552397bba2ee473229f89ec245bc365">MAHA Etherscan</a>
								<a class="dropdown-item" href="https://etherscan.io/token/0xce0f09b77a911593d58d23e9d06f59cf3f0ad342">ARTH Etherscan</a>
							</div>	
						</div>

						<div class="dropdown-menu-outer d-lg-none d-md-block d-sm-block">
							<div class="dropdown-menu-link">
								<a class="dropdown-item" href="/ARTH Whitepaper - 1.1.0 Draft.pdf">Whitepaper</a>
								<a class="dropdown-item" href="https://docs.arthcoin.com/">Gitbook</a>
								<a class="dropdown-item" href="https://arthcoin.com">Arth</a>
							</div>	

							<div class="dropdown-menu-link">
								<a class="dropdown-item" href="https://etherscan.io/token/0xb4d930279552397bba2ee473229f89ec245bc365">MAHA Etherscan</a>
								<a class="dropdown-item" href="https://etherscan.io/token/0xce0f09b77a911593d58d23e9d06f59cf3f0ad342">ARTH Etherscan</a>
							</div>
						</div>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle" href="javascript:void(0)" id="navbardrop" data-toggle="dropdown">About</a>
					<div class="dropdown-menu">
						<div class="dropdown-menu-outer">
							<div class="dropdown-menu-link">
							<a class="dropdown-item" href="#">Team</a>
							<a class="dropdown-item" href="#">Tokenomics</a>
							<a class="dropdown-item" href="#">Brand kit</a>
							</div>	
						</div>
					</div>
				</li>

			   <li class="nav-item">
					<a class="nav-link btn-orange" href="#">Launch App</a>
			  </li> 
			</ul>
		</div> 
	</div>	 
</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	 $(".nav-icon").click(function(){
		 $('.nav-icon').toggleClass('toggler');
	});
</script>