.f-card-title
  font-size: 24px

.f-card-text
  font-size: 14px 

.main-heading
  font-size: 46px
  
.sub-heading-text
  font-size: 22px   

.sub-heading   
  font-size: 32px   

.outline-title 
  font-size: 46px 

.tab
  font-size: 16px 

.partner-box  
    font-size: 16px 
           