.f-card-title
  font-size: 24px

.f-card-text
  font-size: 14px 
  font-family: $font-family-heading 

.main-heading
  font-family: $font-family-heading
  font-size: 46px
  
.sub-heading-text
  font-size: 22px   
  font-family: $font-family-heading

.sub-heading   
  font-size: 32px  
  font-family: $font-family-heading 

.outline-title 
  font-size: 46px 
  font-family: $font-family-heading 

.f-card-title 
  font-family: $font-family-heading  

.tab
  font-size: 16px

.partner-box  
    font-size: 16px 
    
.imagine-link
   font-size: 14px