footer
  background: #171717
  margin-top: 50px
  z-index: 0

  .white-line  
    background: #3c3c3c

  .button3
    border-radius: 45px
    color: $color-white
    margin: 11px 0px
    text-align: left
    justify-content: left
    position: relative
  

  .footer-btn li
    display: inline-block
    padding-bottom: 5px


  .white-line
    margin: 40px auto

  .footer-link li
    list-style: none
    padding-bottom: 12px
    a
      color: #969699
      font-size: 16px
      

  a:hover
    text-decoration: none  
    outline: none
              
  .footer-btm  
    color: #969699  
    opacity: 0.88
      font-size: 16px
      
    a
      color: #969699          

  .button3
    background: #AEAEAE 
    width: 32px
    height: 32px

  .button3:hover   
    background: $color-white  
    outline: none
    text-decoration: none

  .footer-content
    overflow: hidden
    padding-top: 88px
    padding-bottom: 88px    
    position: relative
  
    .button1  
      width: 158px
      height: 46px  
      line-height: 46px
      padding-left: 10px
      padding-right: 10px      


  .footer-title
    padding-bottom: 24px
    font-size: 18px
    font-weight: 500
    margin: 0

  .footer-flex
    display: flex

  .footer-text
    color: rgba(150, 150, 150, 1)
    font-family: $font-family-body
    font-size: 16px
    font-style: normal
    padding-bottom: 24px
    font-weight: 400
    line-height: 25px
    letter-spacing: 0em       

  .social-items
    color: $color-white    
    text-align:left 
    width: 100%

  .social-items a    
    width: 59px
    display: inline-block

  @media (min-width: 640px) and (max-width: 1200px)
    .social-items a
      width: 36px    
  .fab
    color: #262626
    font-size: 18px
    margin: 0 50px 25px 0
    position: absolute
    top: 50%
    left: 49%
    transform: translate(-50%, -50%)

  .button3:hover .fab:hover    
    color: #000

  .button1
    width: 200px
    height: 56px
    font-size: 16px
    border-radius: 45px
    background-color: #333333
    color: $color-white
    border: 1px solid #f95921
    margin-left: 18px


  @media (max-width: 600px)
    .social-items
      display: inherit !important
      margin: 0 auto
      width: 67%
      text-align: center

    .white-line
      margin-top: 20px  

    .social-items a
      padding-left: 8px    
      padding-right: 8px         

    .footer-top
      flex-direction: column


  @media (max-width: 740px)
    .equal-btn-mobile
      justify-content: space-around  
      display: flex  

    .social-items
      width: 100%

      .button3
        margin: 0px 0px 20px 0px  

  #footer-gradient
    background: #212121
    background: radial-gradient(circle, rgba(84,41,41,1) 0%, #212121 50%)
    position: absolute
    top: 0
    opacity: 1
    left: calc(50% - 450px)
    right: 0
    height: 900px
    width: 900px
    z-index: -1