#section-rewards
  font-family: $font-family-heading
  color: $color-white
  background: linear-gradient(180deg, #212121 49.48%, rgba(33, 33, 33, 0) 100%)
  border-radius: 55px
  padding: 65px 0 106px 0

  .rewards-box
    padding-top: 40px

  .main-heading    
    padding-bottom: 16px
    color: rgba(255, 255, 255, 0.64)

  .text-gradient
    font-weight: 700

  .rewards-box .into-text
    line-height: 25px   
    color: #969696

@media (max-width: 600px) 
  #section-rewards
    padding: 20px 0  

    .rewards-box .into-text   
      line-height: 22px