.gradient-red-1
  bottom: 650px
  animation: none
  top: auto
  
.gradient-red-2
  top: 20px
  animation: none
  
  
#section-maha-tokenomics
  margin: 128px 0
  text-align: center

  p
    color: #969696  
    margin: 0  
    font-weight: 700
    padding-bottom: 4px

  .main-heading  
    padding-bottom: 124px
        
  .sub-heading
    padding-bottom: 54px 
    font-weight: 700 

  .maha-tokenomics-box
    display: flex
    color: $color-white

    .maha-tokenomics-left
      padding: 110px 0   
      width: 380px 
      border-right : 1px solid rgba(255, 255, 255, 0.12)
      border-radius: 16px 0px 0px 16px

      h3  
        padding-top: 12px
        padding-bottom: 88px
        margin-bottom: 0
        font-size: 28px
        letter-spacing: 9.5px
        font-family: $font-family-heading
        font-weight: 700

      .text-orange 
        color: #FF7F57    


    .maha-tokenomics-right
      flex: 1
      border: none
      padding: 32px
      text-align: left
      border-radius: 0px 16px 16px 0px

      .center-btn .theme-btn-outline    
        margin: 0px 32px

      .text-row  
        display: flex
        justify-content: space-between
        padding-bottom: 30px

      .equal-with     
        width: 25%        
  
    .maha-tokenomics-right span 
      color: $color-white      
      font-weight: bold


@media (max-width: 800px)
  #section-maha-tokenomics
    margin: 50px 0 

    .main-heading
      padding-bottom: 25px 

    .sub-heading
      padding-bottom: 25px       

    .maha-tokenomics-box
      display: block
      .maha-tokenomics-left  
        width: 100%
        border: none
        border-radius: 16px 16px 0px 0px  
        padding-top: 50px
        padding-bottom: 50px
        h3
          padding-bottom: 50px

      .maha-tokenomics-right  
        border-radius: 0px 0px 16px 16px  
        .equal-with
          width: 45%
      .maha-tokenomics-right span
        font-size: 16px
      .maha-tokenomics-right .center-btn  .btn-md  
        margin: 0px 5px
        min-width: 115px

@media (min-width: 400px)and (max-width: 1300px)  
  #section-maha-tokenomics 
    .maha-tokenomics-box
      .maha-tokenomics-right span
        font-size: 16px
      .maha-tokenomics-right  
        .equal-with
          width: 45%