#section-maha-ambassadors-program
  margin-top: 128px
  text-align: center  
  color: rgba(255, 255, 255, 0.88)

  .main-heading  
    padding-bottom: 16px  
    color: rgba(255, 255, 255, 0.88)  

  .card-bg
    background-image: url("../images/ambassadors/maha-ambassadors-program-img.svg"), linear-gradient(180deg, #2D2D2D 0%, #1C1C1C 100%)
    background-repeat: no-repeat
    background-position: center top
    padding: 80px 25px 50px 25px
    border-radius: 16px

  .f-text-text
    font-size: 18px
    color: rgba(255, 255, 255, 0.64)
    font-weight: 600
    line-height: 24px
    max-width: 750px
    margin: 0 auto
    padding-bottom: 80px

@media screen and (max-width: 575px)  
  #section-maha-ambassadors-program  
    margin-top: 50px 