#section-tokenomics-summary
  margin-top: 128px  
  color: $color-white
  font-size: 22px

  .main-heading  
    padding-bottom: 56px
    text-align: center

  table
    margin-bottom: 48px 
  table td
    width: 50%       
        


@media (max-width: 740px)
  #section-tokenomics-summary
    section-tokenomics-summary: 50px 0 
