.ambassadors-gradient-1
  background: url("../images/ambassadors/gradiant-1.svg")  no-repeat
  background-size: 100%
  width: 1126px  
  height: 969px
  position: absolute
  left: 0
  top: 0px

.ambassadors-gradient-2
  background: url("../images/ambassadors/gradiant-2.svg")  no-repeat
  background-size: 100%
  width: 610px  
  height: 548px 
  position: absolute
  left: 0
  top: 0px  
  z-index: 3


.ambassadors-gradient-3
  background: url("../images/ambassadors/gradiant-3.svg")  no-repeat
  background-size: 100%
  width: 596px
  height: 349px
  position: absolute
  right: 0
  top: 0px   

#section-ambassadors-maha
  margin-top: -80px  
  color: $color-white
  font-size: 22px

  .main-heading  
    color: $color-white
    padding-top: 195px
    line-height: 44px
    padding-bottom: 16px

  .ambassadors-hero-text .sub-heading-text    
    max-width: 580px	
  
  .sub-heading-text  
    color: rgba(255, 255, 255, 0.68)
    font-weight: 700
    line-height: 24px
    margin: 0

  .sub-heading-text strong   
    color: $color-white

  .ambassadors-hero-text
    padding-left: 21px

  .amb-chakra-circule
    background: #151414
    width: 632px
    height: 632px
    border-radius: 100%
    margin-left: 30px
    padding: 55px

  .amb-chakra  
    background: url("../images/ambassadors/ambassadors-maha-chakra.png")  no-repeat 0 0px
    width: 100%
    height: 101%
    background-size: 100%
    display: inline-block

  .become-btn
    padding: 32px 0

  .sub-heading
    padding-bottom: 16px
    font-weight: bold

  .card-bg
    padding: 40px  
    border-radius: 16px
    position: relative
    margin-top: -48px

    .sub-heading-text
      color: #969696
      font-weight: 300


@media (max-width:740px)  
  .ambassadors-gradient-2, .ambassadors-gradient-3
    display: none
  .ambassadors-gradient-1
    background: linear-gradient(335.55deg, rgba(244, 127, 87, 0.02) 24.11%, rgba(253, 86, 86, 0.29) 64.44%)
    border-radius: 613px
    width: 100%
    top: -400px
  #section-ambassadors-maha .amb-chakra-circule  
    margin: 0 auto
    width: 296px
    height: 296px
    padding: 20px

  #section-ambassadors-maha .ambassadors-hero-text    
    text-align: center
    margin-top: -25px
    padding-left: 0

  #section-ambassadors-maha .main-heading
    padding: 0 0 25px 0
    line-height: 28px

  #section-ambassadors-maha .sub-heading
    line-height: 22px

  #section-ambassadors-maha .sub-heading-text 
    padding-right: 0 
    line-height: 20px
     
  #section-ambassadors-maha .card-bg	
    margin: 0