#section-title
  margin-top: 168px
  margin-bottom: 130px  

  .imagine-link  
    padding-left: 24px

              
  .main-title
    line-height: 55px
    
  .title-down-text
    color: #A2A2A2
    margin-top: 44px
    font-size: 18px
    font-family: $font-family-heading
    line-height: 21px
    display: flex
    max-width: 400px
    position: relative
    margin-bottom: 40px
  

  .line
    border: 2px solid rgba(216, 55, 71, 1)
    width: 1px
    display: flex
    position: absolute    
    height: 100%
    margin-top: 0
    margin-bottom: 0

  .text-slide-right
    overflow: hidden
    width: 450px
    padding-left: 20px

    p
      animation: 3s text-slide-right
      margin-bottom: 0     

  @keyframes text-slide-right
    from
      margin-left: -100%
      width: 100%

  to
      padding-left: 20px
      width: 100%  

@media (max-width: 740px)
  .imagine-link
    padding-left: 0!important

  .imagine-link    
    padding-top: 20px
    display: block

  .sm-center 
    text-align: center