#section-maha-tokenomics.arth-tokenomics
  margin-top: 80px 
  margin-bottom: 0px
  text-align: center

  .main-heading
    padding-bottom: 51px
	
  .center-btn	
    text-align: center
    padding-top: 48px	
	
  .maha-tokenomics-box .maha-tokenomics-right .equal-with  
    width: 39%    
@media screen and (max-width: 667px)
  #section-maha-tokenomics.arth-tokenomics 
    margin-top: 2px
    .main-heading
      padding-bottom: 25px