body 
  background: #151414

#section-about
  margin-top: 208px
  text-align: center

  .sub-heading-text
    max-width: 1000px

@media (max-width: 740px)
  #section-about
    margin-top: 130px

      

