#section-ambassadors-the-maha
  margin-top: 128px 

  .col-12  
    justify-content: space-between
    display: flex

  .main-heading  
    padding-bottom: 48px

  .become-btn
    padding-top: 33px
   
  .card   
    border-radius: 16px
    width: 100%

  .card-text
    min-height: 50px
    margin-bottom: 32px
    color: #969696
      
  .card-title    
    color: #FF7F57
    margin-bottom: 6px

  .card-btm  
    color: rgba(255, 255, 255, 0.64)
    p
      margin: 0  
  
    strong
      color: rgba(255, 255, 255, 0.88)
      font-weight: 600

@media (max-width:575px) 
  #section-ambassadors-the-maha
    margin-top: 50px 
    .main-heading
      padding-bottom: 25px