#section-careers-become
  margin-top: 80px

  .main-heading
    padding-bottom: 20px

  .sub-heading-text
    padding-bottom: 66px
  .card-bg
    background: linear-gradient(180deg, #2D2D2D 0%, #171717 100%)

  #accordion
    color: $color-white

  .card 
    border-radius: 16px    
    margin-bottom: 16px       

  .card-header  
    padding: 32px 

  .card-header a    
    color: $color-white
    width: 100%
    display: block

  .theme-btn
    padding:  8px 12px
    background: rgba(255, 255, 255, 0.08)
    border-radius: 20px
    margin-left: 16px
    border: none
    font-weight: normal


  .card-body  
    padding: 0 32px 32px 32px
    line-height: 25px
    font-size: 16px
    font-weight: 300
    opacity: 0.88
    
    .role  
      margin-top: -34px
      color: #969696
      display: block
      padding-bottom: 30px 

    h3  
      color: $color-white      
      margin-bottom: 8px

    p
      color: #A1A1A1         
      margin: 0  
      line-height: 24px
      padding-bottom: 16px

    .theme-btn-outline
      margin-top: 36px      

  .bullet-text-after    
    padding: 0

  .bullet-text-after:after 
    background: url("../img/dropmenu-tringle.svg") 0 no-repeat
    width: 18px
    height: 11px
    right: 0px
    left: auto
    top: 10px

  .bullet-text-after.show-menu:after 
    transform: rotate(-180deg)     
@media screen and (max-width: 575px)        
  #section-careers-become
    margin-top: 25px
    .card-body p  
      line-height: 20px
    .main-heading, .sub-heading-text
      padding-bottom: 25px