#section-liquidity
  padding-top: 113px
  text-align: center
  .main-heading
    padding-bottom: 16px

  .img-container
    text-align: center
    margin: 0 auto
    img
      max-width: 100%

  .f-text-title
    margin-bottom: 0px
	
    @media (max-width: 600px)
      font-size: 30px
      padding: 15px
      margin: 30px auto 0

  .f-text-text
    max-width: 800px
    line-height: 24px
    font-weight: bold
    text-align: center
    color: rgba(255, 255, 255, 0.64)
    margin: 0 auto    

  .main-section-image
    margin-top: 60px     

@media (max-width: 575px)
  #section-liquidity
    padding-top: 50px 

    .main-section-image
      margin: 0 auto
      position: relative
      top: 40px

    .f-text-text  
      line-height: 20px