.product-section
  background: linear-gradient(180deg, #212121 0%, rgba(33, 33, 33, 0) 60.94%)
  border-radius: 55px  
  padding-top: 60px
  padding-bottom: 82px  
  text-align: center

  .main-heading  
    padding-bottom: 8px
  
  .product_card_text  
    min-height: 104px
  
  @media (max-width: 740px)
    padding: 30px 0px  
  
  .card-title
    margin: 48px 0px 8px 0px  
    line-height: 40px
    min-height: 56px
    color: $color-white
	
  .product_title
    text-align: center

    &_text
      // width: 753px     
      font-style: normal
      font-weight: 700      
      text-align: center
      color: rgba(255, 255, 255, 0.64)
      line-height: 24px
      margin-bottom: 48px
  
      @media (max-width: 575px)
        line-height: 20px

  .card-bg
    background: linear-gradient(180deg, #2D2D2D 0%, #171717 100%)
    
  .product_card
    border-radius: 16px
    display: flex
    flex-direction: column
    text-align: center
    align-items: center
    padding: 40px

    &_img
      width: 96px
      height: 96px
      // margin: 71px 142px 0px 142px

    &_title
      // width: 300px
      font-family: $font-family-heading
      font-style: normal
      font-weight: 700
      line-height: 29px
      letter-spacing: 0px
      text-align: center
      color: #ffffff
      margin: 40px 0 20px

    &_text
      font-style: normal
      flex: 1
      font-weight: 300
      line-height: 24px
      text-align: center
      color: rgba(255, 255, 255, 0.64)

  .theme-btn-outline
    padding: 11px 15px 

  .product_section_learnmore_link
    // width: 130px
    font-style: normal
    font-weight: 600
    line-height: 20px
    text-align: center
    color: rgba(255, 255, 255, 0.88)
    text-decoration: none
    margin-top: 24px

    &.soon
      color: rgba(255, 255, 255, 0.32)!important
      border: none
      background: none

  a
    text-decoration: none

@media (max-width: 575px)
  .product-section .product_card_text
    line-height: 20px