#section-tokenomics-release
  padding: 128px 0

  .main-heading  
    padding-bottom: 8px
     

  .sub-heading-text  
    font-family: $font-family-body
    max-width: 1180px
    font-weight: 500
    color: #969696
    line-height: 25px

  .circle-chart   
    text-align: left 
    padding-bottom: 48px

  .circle-chart-img
    padding: 56px 0

  .bullet-text-after   
    font-size: 22px
    font-weight: 500
    margin: 0px 24px
    padding-bottom: 20px

  .bullet-text-after:after
    border-radius: 14px
    top: 9px
 
  .dark-table strong
    font-weight: 700                    

  @media (max-width:780px) 
    .content-center
      justify-content: space-between
      flex-wrap: wrap  
    .bullet-text-after 
      font-size: 16px
      margin: 0px 10px  
      width: 100%