#section-tokenomics-allocation
  background: linear-gradient(180deg, #212121 0%, rgba(33, 33, 33, 0) 60.94%)
  border-radius: 55px
  padding: 64px 0

  .main-heading  
    padding-bottom: 28px
    color: $color-white
     
  .sub-heading-text      
    max-width: 1180px
    font-weight: 700
    color: rgba(150, 150, 153, 0.88)
    line-height: 24px

  .circle-chart   
    text-align: left 
    padding-bottom: 48px

  .circle-chart-img
    padding: 48px 0 56px 0

  .bullet-text-after       
    font-weight: 700
    margin: 0px 20px

    @media (max-width:600px) 
      width: 40% !important   

  .bullet-text-after:after
    border-radius: 14px
    top: 9px

  @media (max-width:780px) 
    .content-center
      justify-content: space-between
      flex-wrap: wrap  
    .bullet-text-after 
      font-size: 16px
      margin: 0px 10px  
      width: 100%

  @media (max-width:575px) 
    .main-heading
      padding-bottom: 25px 
    .sub-heading-text
      line-height: 20px