#section-crose-chain
  margin-top: 60px
  text-align: center
  font-family: $font-family-heading  

  .card-deck
    display: flex
    justify-content: space-between
    color: $color-white

  .card
    border-radius: 26px
    border: none

  .card-title
    font-size: 24px
    margin-top: 20px 
    margin-bottom: 20px	

  .card-body
    padding-top: 0px   

  .card-text   
    font-size: 18px
    font-weight: 500
    line-height: 1.5    
    color: #969696
  

  .img-container        
    padding-top: 30px
    height: 320px

    img
      height: 287px
      max-width: 80%

    @media (max-width: 600px)
      font-size: 30px
      padding: 15px
      margin: 30px auto 0
       
  .f-text-text    
    font-size: 18px
    font-weight: 500
    max-width: 760px
    line-height: 1.5    
    color: #969696
    padding: 50px 10px 0px 10px
    margin: 0 auto

    @media (max-width: 600px)
      font-size: 14px
      padding: 15px