#section-diamond-stak 
  color: $color-white
  padding-top: 128px

  .card-bg
    background: linear-gradient(180deg, #2D2D2D 0%, #242424 100%)
    border-radius: 16px
    padding: 64px

  .main-heading 
    padding-bottom: 24px

  .gradiant-link 
    position: relative
    top: -5px

  .percent-box-left
    .small-text
      color: #969696

    .big-text 
      font-family: $font-family-body 
      font-weight: 700    

  .percent-box
    display: flex
    align-items: center
    justify-content: space-between

  .box
    background: #3C3C3C
    border-radius: 12px
    width: 220px
    height: 103px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 30px
  
    .parcent
      font-size: 24px
      color: rgba(255, 255, 255, 0.88)      
      font-weight: 700
      padding-bottom: 8px

    .parcent-text
      color: rgba(255, 255, 255, 0.64)
      text-align: center

  .progress-bars-outer
    width: 100%
    margin-top: 24px
    font-weight: 600
    font-family: $font-family-body
   

    .status
      display: inline-block
      background: rgba(32, 201, 116, 0.2)
      border-radius: 100px
      color: #20C974
      width: 20%    
      text-align: center
      padding: 0px 15px 
      font-size: 14px
      margin-left: 29px
      height: 44px
      line-height: 44px
      vertical-align: top
    
  .progress-bars   
    background: #151414
    border-radius: 30px
    height: 44px
    width: 76%    
    display: inline-block 



    .progress-meter 
      background: linear-gradient(135deg, #FF8B71 14.65%, #C33F50 64.42%, #A81E41 85.36%)      
      border-radius: 30px
      height: 44px
      text-align: right
      font-size: 16px
      line-height: 44px             
      padding-right: 10px
             
  @media (max-width: 740px) 
    .card-bg
      padding: 18px 15px  
    .gradiant-link
      display: block
    .main-heading
      padding-bottom: 15px
      
    .percent-box-left .big-text
      font-size: 24px 
      padding-bottom: 25px 

    .box
      margin: 0px 5px
      width: 25%
      height: 54px

      .parcent
        font-size: 13px 
        line-height: 13px

      .parcent-text
        font-size: 8px
        line-height: 9px  
        padding: 0px 10px      

    .progress-bars
      width: 100%  
      height: 30px
    .progress-bars-outer
      margin-top: 20px
      .progress-meter
        height: 26px
        line-height: 26px

    .progress-bars-outer .status
      margin: 10px auto 0 auto
      width: 50%
      display: inherit
      font-size: 18px 
      height: 30px
      line-height: 30px
      padding: 0

@media (max-width: 575px)   
  #section-diamond-stak  
    padding-top: 50px                    

@media (min-width: 768px) and (max-width: 1300px) 
  #section-diamond-stak .box
    width: 24%   

  #section-diamond-stak .card-bg  
    padding: 25px  

  #section-diamond-stak .box .parcent 
    font-size: 30px

  #section-diamond-stak .progress-bars
    width: 75%

  #section-diamond-stak .progress-bars-outer .status
    padding: 0px 10px
    font-size: 18px  
    width: 20%

#section-diamond-stak.maha-dec-staking
  padding-top: 80px 

#section-diamond-stak.maha-dec-staking .progress-bars-outer .status 
  background: rgba(250, 76, 105, 0.2)
  color: #FA4C69 

@media (max-width: 575px)   
  #section-diamond-stak.maha-dec-staking
    padding-top: 50px