.typo-syne-h1
  font-size: 42px

.typo-syne-h2
  font-size: 32px  

.typo-syne-h3
  font-size: 24px

.typo-syne-h4
  font-size: 18px   

.typo-syne-h5
  font-size: 16px 

.typo-inter-h1
  font-size: 44px

.typo-inter-h2
  font-size: 32px  

.typo-inter-h3
  font-size: 24px

.typo-inter-h4
  font-size: 24px   

.typo-inter-h5
  font-size: 20px   

.typo-body-small
  font-size: 20px 

.typo-body-medium
  font-size: 24px 

.typo-body-large
  font-size: 24px  

.typo-capital
  font-size: 18px        

@media screen and (max-width: 575px)  
  .typo-syne-h1
    font-size: 32px

  .typo-syne-h2
    font-size: 24px  

  .typo-syne-h3
    font-size: 18px

  .typo-syne-h4
    font-size: 16px 

  .typo-syne-h5
    font-size: 14px 

  .typo-inter-h1
    font-size: 36px

  .typo-inter-h2
    font-size: 24px  

  .typo-inter-h3
    font-size: 18px

  .typo-inter-h4
    font-size: 16px   

  .typo-inter-h5
    font-size: 14px           

  .typo-body-small
    font-size: 14px 

  .typo-body-medium
    font-size: 16px 

  .typo-body-large
    font-size: 18px

  .typo-capital
    font-size: 12px      