<section id="section-ambassadors-the-maha" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">

		<div class="main-heading text-center">
			The MAHA family 
		</div>	

		<div class="card-deck row">
			<div class="col-12 col-lg-4">
				<div class="card card-bg" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
					<div class="card-body theme-font-color">
						<h5 class="card-title">
							MAHA Guru
						</h5>
						<p class="card-text">
							all inclusive
						</p>

						<div class="space-between card-btm">
						<p class="left-text">Capacity</p>							
						<p><strong>2 Influencers</strong></p>	

						</div>
						<div class="space-between card-btm">
						<p class="left-text">Pool</p>	
						<p><strong>2000 MAHA</strong></p>		
						</div>					
					</div>	
				</div>				
			</div>	

			<div class="col-12 col-lg-4">
				<div class="card card-bg" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
					<div class="card-body theme-font-color">
						<h5 class="card-title">
							MAHA Pandit
						</h5>
						<p class="card-text">
							Youtube videos, Blogs, etc
						</p>

						<div class="space-between card-btm">
						<p class="left-text">Capacity</p>							
						<p><strong>15 Influencers</strong></p>		
						</div>
						<div class="space-between card-btm">
						<p class="left-text">Pool</p>	
						<p><strong>2000 MAHA</strong></p>		
						</div>					
					</div>	
				</div>				
			</div>

			<div class="col-12 col-lg-4">
				<div class="card card-bg" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
					<div class="card-body theme-font-color">
						<h5 class="card-title">
							MAHA Heroes
						</h5>
						<p class="card-text">
							Tweet activity, engagement activity, upvotes, likes, infographics, memes
						</p>

						<div class="space-between card-btm">
						<p class="left-text">Capacity</p>	
						<p><strong>No Capacity</strong></p>		
						</div>
						<div class="space-between card-btm">
						<p class="left-text">Pool</p>	
						<p><strong>2000 MAHA</strong></p>		
						</div>					
					</div>	
				</div>
			</div>
		</div>			
	
	</div>					
</section>




