<section id="section-ambassadors-the-maha" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">

		<div class="main-heading text-center typo-syne-h1">
			The MAHA family 
		</div>	

		<div class="card-deck row">
			<div class="col-12 col-lg-4">
				<div class="card card-bg" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
					<div class="card-body theme-font-color">
						<h5 class="card-title typo-syne-h2">
							MAHA Heroes
						</h5>
						<p class="card-text typo-body-medium">
							All inclusive
						</p>

						<!--<div class="space-between card-btm">
							<p class="left-text">Capacity</p>							
							<p><strong>No Capacity</strong></p>	
						</div>-->
						<div class="space-between card-btm">
						<p class="left-text typo-body-medium">Pool</p>	
						<p><strong>2000 MAHA</strong></p>		
						</div>					
					</div>	
				</div>				
			</div>	

			<div class="col-12 col-lg-4">
				<div class="card card-bg" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
					<div class="card-body theme-font-color">
						<h5 class="card-title typo-syne-h2">
							MAHA Pundits
						</h5>
						<p class="card-text typo-body-medium">
							Exclusive to Youtubers, Bloggers, etc.
						</p>

						<!--<div class="space-between card-btm">
							<p class="left-text">Capacity</p>							
							<p><strong>15 Influencers</strong></p>		
						</div>-->
						<div class="space-between card-btm">
						<p class="left-text typo-body-medium">Pool</p>	
						<p><strong>2000 MAHA</strong></p>		
						</div>					
					</div>	
				</div>				
			</div>

			<div class="col-12 col-lg-4">
				<div class="card card-bg" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
					<div class="card-body theme-font-color">
						<h5 class="card-title typo-syne-h2">
							MAHA Gurus
						</h5>
						<p class="card-text typo-body-medium">
							Super exclusive
						</p>

						<!--<div class="space-between card-btm">
							<p class="left-text">Capacity</p>	
							<p><strong>2 Influencers</strong></p>		
						</div>-->
						<div class="space-between card-btm">
						<p class="left-text typo-body-medium">Pool</p>	
						<p><strong>1500 MAHA</strong></p>		
						</div>					
					</div>	
				</div>
			</div>
		</div>

		<div class="become-btn text-center">
			<a target="_blank" class="theme-btn btn-md" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfjYyF3pzuYVEVtuqU7qt9qSih8N6oCuZDsMTTr_690NMK9cQ/viewform?usp=sf_link">Become MAHA Ambassador</a>
		</div>			
	
	</div>					
</section>