<section id="section-ambassadors-maha" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
				<div class="amb-chakra-circule">
			  		<span class="amb-chakra"></span>	
				</div>	
			</div>		

			<div class="col-md-7">
			  <div class="ambassadors-hero-text">
				<div class="main-heading">
					MAHA Ambassadors Program
				</div>

				<div class="sub-heading-text font-18">
					Join an exclusive army of <strong>ambassadors</strong> & become a part of the MahaDAO family
				</div>

				<div class="become-btn">
					<a target="_blank" class="theme-btn btn-md" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfjYyF3pzuYVEVtuqU7qt9qSih8N6oCuZDsMTTr_690NMK9cQ/viewform?usp=sf_link">Become MAHA Ambassador</a>
				</div>
			  </div>
			</div>	
		</div>

		<div class="card-bg">
		  <div class="sub-heading">
		 	What is the MAHA Ambassadors program? 
		  </div>	
			<p class="sub-heading-text font-16">
				The MAHA Ambassadors program is a way for crypto influencers & enthusiasts alike to join an 
				extensive program that allows them to earn a passive income in MAHA tokens for evangelizing 
				the MahaDAO project. The best performing Ambassadors earn performance-based benefits in $MAHA 
				tokens every month. If you are a passionate writer, influencer, videographer, developer, 
				or graphic designer, you are more than welcome to join us. 
			</p>

		</div>					
	
	</div>					
</section>