<section id="section-ambassadors-faq" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">

		<div class="main-heading">
			FAQs for how to become a MAHA Ambassador? 
		</div>	


		<div id="accordion">
			<div class="card">
				<div class="card-header">
					<a class="card-link bullet-text-after" data-toggle="collapse" href="#collapseOne">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</a>
				</div>
				<div id="collapseOne" class="collapse" data-parent="#accordion">
					<div class="card-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<a class="collapsed card-link bullet-text-after" data-toggle="collapse" href="#collapseTwo">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</a>
				</div>

				<div id="collapseTwo" class="collapse" data-parent="#accordion">
					<div class="card-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<a class="collapsed card-link bullet-text-after" data-toggle="collapse" href="#collapseThree">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</a>
				</div>

				<div id="collapseThree" class="collapse" data-parent="#accordion">
					<div class="card-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim vitae turpis morbi netus diam lectus magnis nec at. Quam maecenas arcu, 
					malesuada turpis cras viverra. Quisque condimentum tempus suscipit id proin aliquam fermentum morbi. Imperdiet semper faucibus adipiscing 
					lacus enim integer a. Massa sed mi dignissim lectus consectetur luctus augue. Viverra eu pellentesque ullamcorper dolor. 
					Tempus convallis nullam ornare odio dignissim lectus mauris feugiat. Cras sit diam neque condimentum massa maecenas volutpat consequat. 
					Vitae nunc, est nisi, est at. At augue sit dictum leo. 
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header">
					<a class="collapsed card-link bullet-text-after" data-toggle="collapse" href="#collapseFour">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</a>
				</div>
				<div id="collapseFour" class="collapse" data-parent="#accordion">
					<div class="card-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
			</div>	

		</div>

  
	
	</div>					
</section>


<script>
	$(".card-link").click(function(){
		$(".card-link").removeClass('show-menu');
		$(this).toggleClass('show-menu');
	});
	
</script>

