<section id="section-maha-ambassadors-program" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
	<div class="container-fluid">
		<div class="card-bg">
			<div class="main-heading">
				MAHA Ambassadors Program
			</div>
			<div class="f-text-text">
				Join an exclusive army of ambassadors become a part of the MahaDAO family
			</div>			

			<div class="btn-center">
				<a class="theme-btn btn-md" target="_blank" href="ambassadors.html">Learn More</a>
			</div>
		</div> 	
	</div>
</section>