<section id="section-arthx-data" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
  <div class="container-fluid">
    <div class="main-container row">
      <div class="col-lg-4 col-md-4 col-sm-12 custom-col">
        <div>
          <p class="data-numbers">2,445,55</p>
          <p class="data-name">Holders</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 custom-col">
        <div>
          <p class="data-numbers">76,54,35,45,345</p>
          <p class="data-name">Token Burned</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 custom-col">
        <div>
          <p class="data-numbers">$160,543,345</p>
          <p class="data-name">Liquidity</p>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <a target="_blank" class="theme-btn btn-md" target="_blank" href="https://exchange.dfyn.network/#/swap?inputCurrency=ETH&outputCurrency=0xD354D56DaE3588F1145dd664bc5094437b889d6F">Buy ARTHX</a>
    </div>
  </div>
</section>
