<section id="section-arthx-intro" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
  <div class="container-fluid">
    <div class="main-container">
      <div class="left-container">
        <p class="main-heading typo-syne-h1">
          ARTHX
        </p>
        <p class="sub-heading typo-syne-h2">
          The stability token for the ARTH protocol
        </p>
        <p class="heading-info typo-syne-h4">
          The ARTHX token is a deflationary token designed to absorb the
          volatility of the ARTH token and Keeping the ARTH token stable.
        </p>
        <a target="_blank" class="theme-btn btn-md" target="_blank" href="https://www.crewfire.com/signup/2j3yWoqPg">Buy ARTHX from QuickSwap</a>
      </div>
      <div class="right-container">
        <img class="img-fluid" src="../../images/arthx/arthx-hero.svg" alt="">
      </div>
    </div>
  </div>
</section>
