<section id="section-arthx-graph" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
  <div class="container-fluid">
    <p class="title typo-syne-h1">Deflationary By Design</p>
    <p class="subtitle typo-syne-h4">
      On transfer made by the ARTHX holders, a 10% fee is charged that rewards
      the long term ARTHX holders and liquidity providers
    </p>
    <div class="circle-chart">
      <div class="circle-chart-img text-center"></div>
      <div class="content-center">
        <span class="bullet-text-after typo-syne-h4 red-color community">
          Sent to the Reciepeint <br> 90%
        </span>
        <span class="bullet-text-after typo-syne-h4 gold-color advisors">
          Sent to Stakers <br> 5%
        </span>
        <span class="bullet-text-after typo-syne-h4 aqua-color core-team">
          Token Burn <br> 5%
        </span>
<!--        <span class="bullet-text-after typo-inter-h2 purpule-color private-sale">-->
<!--          Private Sale <br> 15%-->
<!--        </span>-->
<!--        <span class="bullet-text-after typo-inter-h2 orange-color seed">-->
<!--          Seed <br> 5%-->
<!--        </span>-->
      </div>
    </div>
  </div>
</section>
