<section id="section-arthx-revolution" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
  <div class="container-fluid">
    <div class="cards-container row">
      <div class="col-lg-4 col-md-4 col-sm-12 custom-col">
        <div class="Icard">
          <div>
            <p class="typo-syne-h2 card-head">Deflationary</p>
            <span class="text typo-inter-h4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed vitae sollicitudin suscipit amet imperdiet varius facilisis.
              Leo quisque massa imperdiet nulla ultrices.
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 custom-col">
        <div class="Icard">
          <div>
            <p class="typo-syne-h2 card-head">Buybacks</p>
            <span class="text typo-inter-h4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed vitae sollicitudin suscipit amet imperdiet varius facilisis.
              Leo quisque massa imperdiet nulla ultrices.
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 custom-col">
        <div class="Icard">
          <div>
            <p class="typo-syne-h2 card-head">Rewards</p>
            <span class="text typo-inter-h4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Sed vitae sollicitudin suscipit amet imperdiet varius facilisis.
              Leo quisque massa imperdiet nulla ultrices.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
