<!doctype html>
<html lang="en">

<head>
  {{> ../../partials/head }}

  <link rel="icon" type="image/png" href="/Favicon.png">
  <link rel="icon" type="image/svg" href="/Favicon.svg">
</head>

<body>
  {{> ../../partials/header }}

  {{!-- Background and chakras  --}}
  <div id="header-gradient"></div>
  {{> ./arthx-intro-section.hbs}}
  {{> ./arthx-revolution.hbs}}
  {{> ./arthx-section-graph.hbs}}
  {{!-- {{> ./arthx-data-section.hbs}} --}}
  {{> ../../partials/footer }}
  <!--<div class="chakra"></div>-->
  <!--<div class="gradient-red-1"></div>-->
  <!--<div class="gradient-red-2"></div>-->
  <!--<div class="gradient-black-1"></div>-->

  <!--<script src="http://localhost:35729/livereload.js"></script>-->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>
</body>
</html>
