<section id="section-careers-ecosystem" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
    <div class="container-fluid">
        <div class="main-heading text-center">
            Ecosystem
        </div>
        <div class="sub-heading-text text-center">
            At the core of MahaDAO are products that will fuel the entire ecosystem. 
            These products are built and managed by the community itself.
        </div>
        <div class="sub-heading text-center">
            MAHADAO Products
        </div>
        <div class="card-deck row">
            <div class="col-12 col-md-6">
                <div class="card card-bg">
                    <div class="card-body">
                        <h3 class="font-24">ARTH Coin</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet scelerisque enim, sit at.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card card-bg">
                    <div class="card-body">
                        <h3 class="font-24">MahaSwap</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet scelerisque enim, sit at.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck row">
            <div class="col-12 col-md-6">
                <div class="card card-bg">
                    <div class="card-body">
                        <h3 class="font-24">Governance</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet scelerisque enim, sit at.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card card-bg">
                    <div class="card-body">
                        <h3 class="font-24">Staking</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet scelerisque enim, sit at.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>