<section  id="arth-lead-rev">
 <div class="container-fluid">
	<div class="arth-heading" id="arth-maha-dao-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		<div class="main-heading text-center">Lead the revolution</div>
		<div class="text-center arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH eliminates price instability and value erosion. Control your financial future, increase your money’s worth.
		</div>
		<div class="arth_lead_flex row">
			<div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
				<div class="arth-gradient-orange-border"></div>
				<div class="arth_lead_flex_card">
					<div class="arth_lead_flex_card_text">
						A revolutionary medium of exchange whose purchasing power grows with you.
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
				<div class="arth-gradient-orange-border"></div>
				<div class="arth_lead_flex_card">
					<div class="arth_lead_flex_card_text">
						A timeless store of value that is preserved across generations.
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
				<div class="arth-gradient-orange-border"></div>
				<div class="arth_lead_flex_card">
					<div class="arth_lead_flex_card_text">
						A decentralised Money that is governed by the community and by you.
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
