<section class="arth-section" id="arth-lead-rev">
	<div class="arth-heading" id="arth-maha-dao-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Lead the revolution
		<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH eliminates price instability and value erosion. Control your financial future, increase your money’s worth. 
		</div>
		<div class="arth_lead_flex row">
			<div class="padding-none col-12 col-md-4">
				<div class="arth-gradient-orange-border"></div>
				<div class="arth_lead_flex_card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="arth_lead_flex_card_text">
						A revolutionary medium of exchange whose purchasing power grows with you.
					</div>
				</div>
			</div>
			<div class="padding-none col-12 col-md-4">
				<div class="arth-gradient-orange-border"></div>
				<div class="arth_lead_flex_card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="arth_lead_flex_card_text">
						A timeless store of value that is preserved across the generations.
					</div>
				</div>
			</div>
			<div class="padding-none col-12 col-md-4">
				<div class="arth-gradient-orange-border"></div>
				<div class="arth_lead_flex_card" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
					<div class="arth_lead_flex_card_text">
						A decentralised Money that is governed by the community, and by you.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>