<section class="arth-section" id="arth-everything">
	<div class="arth-heading arth-heading-regular" id="arth-everything-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		<span id="arth-coin-img"></span>

		ARTH. It's everything money should be. And more.
		<div class="arth-para arth-para-regular" id="arth-everything-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is designed to fight depreciation of wealth & help you pay less for more. <br/>
			You purchasing power increases as you preserve ARTH. No matter the fluctuation in the
			market, the value of your money never drops.
		</div>
	</div>
</section>