<section class="arth-section" id="arth-supported-token">
	<div class="arth-heading arth-heading-regular" id="arth-supported-token-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Supported Tokens
		<div class="row dis-flex-center" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div class="col-md-1 col-sm-4 supported-token-container"><span class="supported-token" id="support-token-dai"></span></div>
			<div class="col-md-1 col-sm-4 supported-token-container"><span class="supported-token" id="support-token-usdt"></span></div>
			<div class="col-md-1 col-sm-4 supported-token-container"><span class="supported-token" id="support-token-polygon"></span></div>
		</div>
	</div>
</section>