<section class="arth-section" id="arth-tech">
	<div class="arth-heading arth-heading-regular" id="arth-tech-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Technology
		<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			 ARTH is backed by a stable basket of assets calculated via a proprietary index called the “Global Measurement Unit” which informs the ARTH target price. Additional robust strategies such as seigniorage shares, automatic rebalancing and trusted oracle price feeds also assist to further stabilise the price of ARTH.
		</div>
		
		<!--<div id="arth-technology-image"></div>
		<div id="arth-technology-image-mb"></div>-->
		
		<section class="col-12 col-md-5 " id="arth-cross-border">
			<div class="arth-heading arth-heading-regular" id="arth-cross-border-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<span id="arth-cross-border-img" class="arth-cross-border-img-none"></span>


	<div class="ring ring-place">
	<span class="ring-center"><img src="../images/technology/ring-glow.svg" alt=""></span>
	<div class="ring-pos ring-1">
		<svg width="88" height="261" viewBox="0 0 88 261" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path class="ring-start1" d="M44.1633 2.99936C48.886 2.99936 53.8581 5.85591 58.812 12.1163C63.7402 18.3442 68.3098 27.5417 72.2031 39.1742C79.9794 62.4081 84.8409 94.6967 84.8409 130.5C84.8409 166.303 79.9794 198.591 72.2031 221.825C68.3098 233.458 63.7402 242.655 58.812 248.883C53.8581 255.143 48.886 258 44.1633 258C39.4405 258 34.4684 255.143 29.5145 248.883C24.5863 242.655 20.0167 233.458 16.1234 221.825C8.34711 198.591 3.4856 166.303 3.4856 130.5C3.4856 94.6967 8.34712 62.4081 16.1234 39.1742C20.0167 27.5417 24.5863 18.3442 29.5145 12.1163C34.4684 5.85591 39.4405 2.99936 44.1633 2.99936Z" stroke="url(#paint0_linear)" stroke-width="6"/>
		<defs>
		<linearGradient id="paint0_linear" x1="0.485597" y1="130.5" x2="87.8409" y2="130.5" gradientUnits="userSpaceOnUse">
		<stop stop-color="#FB866F" stop-opacity="0"/>
		<stop offset="1" stop-color="#AD2444"/>
		</linearGradient>
		</defs>
		</svg>
	</div>

	<div class="ring-pos ring-2">
		<svg width="223" height="223" viewBox="0 0 223 223" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path class="ring-start2" d="M191.128 32.2551C194.319 35.4459 195.849 40.5587 195.27 47.722C194.693 54.8693 192.033 63.6374 187.394 73.4901C178.127 93.1709 161.253 116.568 138.91 138.911C116.567 161.254 93.1699 178.128 73.4891 187.395C63.6365 192.034 54.8683 194.694 47.721 195.271C40.5577 195.85 35.4449 194.32 32.2541 191.129C29.0634 187.938 27.5333 182.825 28.1119 175.662C28.6892 168.515 31.349 159.747 35.9883 149.894C45.2553 130.213 62.1294 106.816 84.4723 84.4734C106.815 62.1304 130.212 45.2564 149.893 35.9893C159.745 31.35 168.514 28.6902 175.661 28.1129C182.824 27.5343 187.937 29.0644 191.128 32.2551Z" stroke="url(#paint0_linear)" stroke-width="6"/>
		<defs>
		<linearGradient id="paint0_linear" x1="82.351" y1="82.352" x2="141.031" y2="141.032" gradientUnits="userSpaceOnUse">
		<stop stop-color="#FB866F" stop-opacity="0"/>
		<stop offset="1" stop-color="#AD2444"/>
		</linearGradient>
		</defs>
		</svg>
	</div>

	<div class="ring-pos ring-3">
		<svg width="281" height="74" viewBox="0 0 281 74" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path class="ring-start3" d="M277.588 37.044C277.588 40.4737 274.887 44.5274 267.998 48.8006C261.271 52.9733 251.337 56.8403 238.796 60.1306C213.758 66.6995 179.004 70.7971 140.5 70.7971C101.996 70.7971 67.2419 66.6995 42.204 60.1306C29.6628 56.8403 19.7291 52.9733 13.002 48.8006C6.11285 44.5274 3.41187 40.4737 3.41187 37.044C3.41187 33.6142 6.11285 29.5606 13.002 25.2874C19.7291 21.1147 29.6628 17.2477 42.204 13.9574C67.2419 7.3885 101.996 3.29083 140.5 3.29083C179.004 3.29083 213.758 7.3885 238.796 13.9574C251.337 17.2477 261.271 21.1147 267.998 25.2874C274.887 29.5606 277.588 33.6142 277.588 37.044Z" stroke="url(#paint0_linear)" stroke-width="6"/>
		<defs>
		<linearGradient id="paint0_linear" x1="140.5" y1="0.290833" x2="140.5" y2="73.7971" gradientUnits="userSpaceOnUse">
		<stop stop-color="#FB866F" stop-opacity="0"/>
		<stop offset="1" stop-color="#AD2444"/>
		</linearGradient>
		</defs>
		</svg>
	</div>

	<div class="ring-pos ring-4">
		<svg width="207" height="207" viewBox="0 0 207 207" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path class="ring-start4" d="M24.0631 24.0623C25.8763 22.2491 29.5819 21.3995 36.0483 22.8982C42.3334 24.3548 50.3274 27.8452 59.533 33.2077C77.9045 43.9096 100.5 61.7121 122.894 84.1055C145.287 106.499 163.09 129.095 173.791 147.466C179.154 156.672 182.644 164.666 184.101 170.951C185.6 177.417 184.75 181.123 182.937 182.936C181.124 184.749 177.418 185.599 170.952 184.1C164.667 182.643 156.673 179.153 147.467 173.791C129.096 163.089 106.5 145.286 84.1064 122.893C61.7129 100.499 43.9105 77.9036 33.2085 59.5321C27.846 50.3266 24.3556 42.3325 22.899 36.0475C21.4003 29.581 22.25 25.8755 24.0631 24.0623Z" stroke="url(#paint0_linear)" stroke-width="6"/>
		<defs>
		<linearGradient id="paint0_linear" x1="81.985" y1="125.014" x2="125.015" y2="81.9842" gradientUnits="userSpaceOnUse">
		<stop stop-color="#FB866F" stop-opacity="0"/>
		<stop offset="1" stop-color="#AD2444"/>
		</linearGradient>
		</defs>
		</svg>
	 </div>
   </div>



				Cross-border transactions
				
				<div class="arth-para arth-para-regular" id="arth-cross-border-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					Deployed on Layer 2 Protocol, ARTH offers transactions speed of less than 3 seconds to cross the border from your wallet to another
					across the globe. The very near future version of ARTH shall be a cross-chain solution that brings the power of value coin to other
					blockchains like Ethereum and more
				</div>
			</div>
		</section>
		<section class="col-12 col-md-5 " id="arth-cross-border">
			<div class="arth-heading arth-heading-regular" id="arth-cross-border-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<span id="arth-cross-chain-img"></span>

				Cross-chain liquidity
				
				<div class="arth-para arth-para-regular" id="arth-cross-border-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					ARTH is compatible with tokens and currencies from other blockchains to create a massive liquidity pool across the chains.
					You can stake, lend, borrow, trade ARTH across chains. (coming soon)
					</div>
				</div>
			</div>
		</section>
	</div>
</section>


<script>  
 function show_process_ring(){
	 setTimeout(function(){ 
		$(".ring-start1").attr("class", "ring-start1 path");
		 },600);
		 
		 setTimeout(function(){ 
		$(".ring-start2").attr("class", "ring-start2 path2");
		 },100);
		 
		setTimeout(function(){ 
		$(".ring-start3").attr("class", "ring-start3 path3");
		 },700);
		 
		setTimeout(function(){ 
		$(".ring-start4").attr("class", "ring-start4 path4");
		 },300);		 
 }
  show_process_ring();
</script>