<section id="arth-sec-overview" class="arth-section">
  <div id="arth-overview-title" class="arth-heading" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
    Purchase. Power.
    <div class="arth-para arth-para-medium" id="arth-nrml-txt" data-aos="fade-up" data-aos-duration="2000"
      data-aos-once="true">
      ARTH is a decentralized algorithmic stablecoin which combines the best features of basket-backed stablecoins and
      elastic stablecoins to create the world's first "value-stable" cryptocurrency.
      <div class="d-lg-none d-sm-block">
        <a class="button1" target="_blank" href="https://mahaswap.com" id="whitepaper-main">
          ARTH Uniswap
        </a>
      </div>
    </div>
  </div>
</section>