<section class="arth-section" id="arth-section-title">
 	<div class="container-fluid">
		<div class="arth-heading arth-heading-regular main-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<span class="outline-title main-title">ARTH. Money Reinvented.</span>
			<div class="arth-para arth-para-regular" id="arth-section-title-sub" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				Join the mission as we establish a new standard of money. Better money.
			</div>
		</div>
	</div>
</section>
