<section id="arth-maha-dao-overview" class="arth-section container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="arth-maha-dao-ring content-center">
		<div class="box box-1">
			<span class="logo-icon"></span>
			<span class="line-animation line slide-1"></span>
		</div>
	
		<div class="box box-3">				
			<p class="number">01.</p>
			<p class="description"><strong>Elastic Supply Protocol</strong>			
			<font class="d-none d-md-block d-sm-block">Supply algorithmically expands and contracts based on demand	</font>
			 </p>
		</div>	

		<div class="box box-4 content-center">				
		    <div class="arrow-icon">
			<p>Pegged to</p>
			<img class="img" src="../../images/mahadao-protocol/orange-green-arrow.svg" alt="">
			</div>

			<div class="chart-circle">
			<img class="img d-none  d-md-block" src="../../images/mahadao-protocol/chart-circle.svg" alt="">	
			<p><strong>Global Measurement Unit (GMU)</strong></p>
			<ul class="chart-text">
			<li>80% Fiat</li>	
			<li>15% Gold</li>	
			<li>5% Bitcoin</li>	
			</ul>
			</div>	
		</div>	

		<div class="box box-5">					
			<span class="logo-icon arth-bond-logo"></span>
			<span class="line-animation line  fill-line slide-2"></span>
		
		    <div class="description-arth-bond">
			<p class="number">03.</p>		
			<p class="description"><strong>ARTH Bonds </strong>
			<font class="d-none d-md-block d-sm-block">
			are issued when the ARTH valuecoin is trading below the (GMU) target price
			</font>
			</p>
			</div>
		</div>

		<div class="arth-vault">
			<p class="arth-vault-title">ARTH VAULT</p>
			
			<div  class="arth-vault-des">
				<span class="number">02.a</span>
				<p class="des-text-1 d-none d-lg-block"> If ARTH is trading above it’s target price, then new ARTH is minted</p>
				 <p class="des-text-1 d-block d-lg-none">If A appreciates, then buy B and cell off A</p>
			</div>

			<div class="line-timer">
			<div class="timer">
					<div class="count"></div>
				<div class="pie spinner"></div>
				<div class="pie filler"></div>
				<div class="mask"></div>
			</div>	
			<span class="timer-sml-text">Epoch</span>				
			</div>
	
			<div class="number center-text d-none d-md-block"> Innovative Seigniorage Shares model maintains and appreciates purchasing power over time.  </div>
			<div class="number center-text d-block d-md-none"> 1:1 </div>

			<div class="line-timer line-timer-reverse">
              <div class="revers-timer">
				<div class="timer">
						<div class="count count-reverse"></div>
					<div class="pie pie-rev spinner-rev"></div>					
					<div class="pie pie-rev filler-rev"></div>
					<div class="mask mask-rev"></div>
				</div>
			 </div>
			<span class="timer-sml-text">Epoch</span>
			</div>

			<div  class="arth-vault-des arth-vault-des-2">				
			 <p class="des-text-2 d-none d-lg-block"> If ARTH is trading below it’s target price, then  ARTH is bought back and burned</p>
			 <p class="des-text-2 d-none d-block d-lg-none"> If B depreciates, then we sell off A in order to buy B</p>
				<span class="number">02.b</span>
			</div>
		</div>
	</div>			
</section>


<script type="text/javascript">
 $('.slide-2').hide();  
setInterval(function(){ 
  		$('.line-animation').removeClass('ani-start'); 
$('.line-animation').removeClass('line-reverse'); 		  				  
		show_process();
		$('.slide-1').hide(); 
		$('.slide-2').hide(); 
 },8300);
 
 function show_process(){
	 setTimeout(function(){
		  $('.slide-1').show(); 
			 $('.slide-1').addClass('ani-start');  
		 },1000);
		setTimeout(function(){
			 $('.slide-2').show(); 
			 $('.slide-2').addClass('line-reverse');  
			
		 },5000);
 }
  show_process();
</script>