<section id="arth-sec-overview" class="arth-section" data-aos="fade-up" data-aos-duration="2050" data-aos-once="true">
	<div class="container-fluid">
		<div id="arth-overview-image">
			<div class="icon-section">
				<div class="pulse1"></div>
				<div class="pulse2"></div>
				<div class="pulse3"></div>
				<div class="pulse4"></div>
				<div class="pulse5"></div>
				<div class="pulse6"></div>
				<div class="pulse7"></div>

				<img src="./images/arth-globe/arth-globe-black-ring.svg" alt="black-ring" class="black-ring-ring" />
				<img src="./images/arth-globe/arth-globe-horizontal-eclipse.svg" alt="black-ring" class="globe-horizontal-ring" />
				<img src="./images/arth-globe/arth-globe-vertical-eclipse.svg" alt="black-ring" class="globe-vertical-ring" />

				<img src="./images/arth-globe/arth-globe-ring.svg" alt="ring" class="rightpara-leftfig-img" />
				<span class="coin-gradient-red"><img src="./images/arth-globe/arth-globe-coin.svg" alt="coin" class="rightpara-leftfig-img-inner arth"/></span>
				
				<div class="arth-desc arth-desc-box-1">
                	<div class="arth-desc-content economy">
						<span class="economy-icon wobble-effect wobble-effect-1"></span>  
                    	<span class="txt txt-1">Forex<font class="triangle"></font></span>
						<span class="txt txt-2">Fiat<br>Currency<font class="triangle"></font></span>
						<span class="txt txt-3">Gdp<font class="triangle"></font></span>
						<span class="inner-text inner-text-1 d-none d-md-block">Resilient</span>
					</div>
				</div>

				<div class="arth-desc arth-desc-box-2">
                	<div class="arth-desc-content commodities">
						<span class="commodities-icon wobble-effect wobble-effect-2"></span>  
                    	<span class="txt txt-4">Food <br> Prices <font class="triangle"></font></span>
						<span class="txt txt-5">Oil <font class="triangle"></font></span>
						<span class="txt txt-6">Gold <font class="triangle"></font></span>
						<span class="inner-text inner-text-2 d-none d-md-block">Elastic</span>
					</div>
				</div>

				<div class="arth-desc arth-desc-box-3">
                	<div class="arth-desc-content markets">
				    	<span class="markets-icon wobble-effect wobble-effect-3"></span>  
                    	<span class="txt txt-7">Stock <br> Indices <font class="triangle"></font></span>
						<span class="txt txt-8">Money Market <font class="triangle"></font></span>
						<span class="txt txt-9">Bond <br> Yields <font class="triangle"></font></span>
						<span class="inner-text inner-text-3 d-none d-md-block">Flexible</span>
					</div>
				</div>

				<div class="arth-desc arth-desc-box-4">
                	<div class="arth-desc-content assets">
						<span class="assets-icon wobble-effect wobble-effect-4"></span>  
                    	<span class="txt txt-10">Stable Coins <font class="triangle"></font></span>
						<span class="txt txt-11">Other <br> Tokenised Assets <font class="triangle"></font></span>
						<span class="txt txt-12">Crypto <br> Currencies <font class="triangle"></font></span>
						<span class="inner-text inner-text-4 d-none d-md-block">Multi <br>Collateralised</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>