<section class="arth-section" id="arth-everything">
	<div class="container-fluid">
		<div class="arth-heading arth-heading-regular" id="arth-everything-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<span id="arth-coin-img"></span>
			<span class="main-heading">ARTH. It's everything money should be and more.</span>
			<div class="arth-para arth-para-regular" id="arth-everything-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				ARTH is designed to maintain its purchasing power over time,<br>irrespective of which direction the market moves.
			</div>
		</div>
	</div>
</section>
