<section id="arth-sec-overview" class="arth-section">
	<div id="arth-overview-title" class="arth-heading" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Purchase. Power.
		<div class="arth-para arth-para-medium" id="arth-nrml-txt" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is an innovative new form of currency backed by a basket of assets
		</div>
	</div>
</section>