<section id="arth-overview-title" class="arth-section" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
  	<div class="container-fluid">
		<span class="main-heading">Purchase. Power.</span>
		<div class="arth-para arth-para-medium" id="arth-nrml-txt" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is a decentralized algorithmic stablecoin which combines the best features of basket-backed stablecoins and elastic stablecoins to create the world's first "value-stable" cryptocurrency.	
			<div class="d-lg-none d-sm-block">
				<a class="button1" target="_blank" href="https://info.uniswap.org/pair/0x35b6f9e6300aa6c722ea189e096b0b073025806f" id="whitepaper-main">
					ARTH Uniswap
				</a>
			</div>		
		</div>
	</div>
</section>