<section class="arth-section" id="arth-tech">
	<div class="container-fluid">
		<div class="arth-heading arth-heading-regular" id="arth-tech-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div id="technology-sec">
				<div class="main-heading">Technology</div>
		
		<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					ARTH is backed by a stable basket of assets calculated via a proprietary index called the “Global Measurement Unit” which informs the ARTH target price. Additional robust strategies such as seigniorage shares, automatic rebalancing and trusted oracle price feeds also assist to further stabilise the price of ARTH.
				</div>
			</div>
		
		<!--<div id="arth-technology-image"></div>
		<div id="arth-technology-image-mb"></div>-->
		
		
		<div class="card-deck row">
		
		<section class="col-12 col-md-6  cross-border-transactions " id="arth-cross-border">
			<div class="arth-heading arth-heading-regular card card-bg" id="arth-cross-border-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				
				<div class="img-container">
					<span id="arth-cross-border-img" class="arth-cross-border-img-none"></span>


					<div id="cross-border-transactions" class="ring ring-place">



						<span class="ring-center"><img src="../images/technology/ring-glow.svg" alt=""></span>
						<div class="ring-pos ring-1">
							<svg width="88" height="261" viewBox="0 0 88 261" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path class="ring-start1" d="M44.1633 2.99936C48.886 2.99936 53.8581 5.85591 58.812 12.1163C63.7402 18.3442 68.3098 27.5417 72.2031 39.1742C79.9794 62.4081 84.8409 94.6967 84.8409 130.5C84.8409 166.303 79.9794 198.591 72.2031 221.825C68.3098 233.458 63.7402 242.655 58.812 248.883C53.8581 255.143 48.886 258 44.1633 258C39.4405 258 34.4684 255.143 29.5145 248.883C24.5863 242.655 20.0167 233.458 16.1234 221.825C8.34711 198.591 3.4856 166.303 3.4856 130.5C3.4856 94.6967 8.34712 62.4081 16.1234 39.1742C20.0167 27.5417 24.5863 18.3442 29.5145 12.1163C34.4684 5.85591 39.4405 2.99936 44.1633 2.99936Z" stroke="url(#paint0_linear)" stroke-width="6"/>
								<defs>
									<linearGradient id="paint0_linear" x1="0.485597" y1="130.5" x2="87.8409" y2="130.5" gradientUnits="userSpaceOnUse">
										<stop stop-color="#FB866F" stop-opacity="0"/>
										<stop offset="1" stop-color="#AD2444"/>
									</linearGradient>
								</defs>
							</svg>
						</div>

						<div class="ring-pos ring-2">
							<svg width="223" height="223" viewBox="0 0 223 223" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path class="ring-start2" d="M191.128 32.2551C194.319 35.4459 195.849 40.5587 195.27 47.722C194.693 54.8693 192.033 63.6374 187.394 73.4901C178.127 93.1709 161.253 116.568 138.91 138.911C116.567 161.254 93.1699 178.128 73.4891 187.395C63.6365 192.034 54.8683 194.694 47.721 195.271C40.5577 195.85 35.4449 194.32 32.2541 191.129C29.0634 187.938 27.5333 182.825 28.1119 175.662C28.6892 168.515 31.349 159.747 35.9883 149.894C45.2553 130.213 62.1294 106.816 84.4723 84.4734C106.815 62.1304 130.212 45.2564 149.893 35.9893C159.745 31.35 168.514 28.6902 175.661 28.1129C182.824 27.5343 187.937 29.0644 191.128 32.2551Z" stroke="url(#paint0_linear)" stroke-width="6"/>
								<defs>
									<linearGradient id="paint0_linear" x1="82.351" y1="82.352" x2="141.031" y2="141.032" gradientUnits="userSpaceOnUse">
										<stop stop-color="#FB866F" stop-opacity="0"/>
										<stop offset="1" stop-color="#AD2444"/>
									</linearGradient>
								</defs>
							</svg>
						</div>

						<div class="ring-pos ring-3">
							<svg width="281" height="74" viewBox="0 0 281 74" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path class="ring-start3" d="M277.588 37.044C277.588 40.4737 274.887 44.5274 267.998 48.8006C261.271 52.9733 251.337 56.8403 238.796 60.1306C213.758 66.6995 179.004 70.7971 140.5 70.7971C101.996 70.7971 67.2419 66.6995 42.204 60.1306C29.6628 56.8403 19.7291 52.9733 13.002 48.8006C6.11285 44.5274 3.41187 40.4737 3.41187 37.044C3.41187 33.6142 6.11285 29.5606 13.002 25.2874C19.7291 21.1147 29.6628 17.2477 42.204 13.9574C67.2419 7.3885 101.996 3.29083 140.5 3.29083C179.004 3.29083 213.758 7.3885 238.796 13.9574C251.337 17.2477 261.271 21.1147 267.998 25.2874C274.887 29.5606 277.588 33.6142 277.588 37.044Z" stroke="url(#paint0_linear)" stroke-width="6"/>
								<defs>
									<linearGradient id="paint0_linear" x1="140.5" y1="0.290833" x2="140.5" y2="73.7971" gradientUnits="userSpaceOnUse">
										<stop stop-color="#FB866F" stop-opacity="0"/>
										<stop offset="1" stop-color="#AD2444"/>
									</linearGradient>
								</defs>
							</svg>
						</div>

						<div class="ring-pos ring-4">
							<svg width="207" height="207" viewBox="0 0 207 207" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path class="ring-start4" d="M24.0631 24.0623C25.8763 22.2491 29.5819 21.3995 36.0483 22.8982C42.3334 24.3548 50.3274 27.8452 59.533 33.2077C77.9045 43.9096 100.5 61.7121 122.894 84.1055C145.287 106.499 163.09 129.095 173.791 147.466C179.154 156.672 182.644 164.666 184.101 170.951C185.6 177.417 184.75 181.123 182.937 182.936C181.124 184.749 177.418 185.599 170.952 184.1C164.667 182.643 156.673 179.153 147.467 173.791C129.096 163.089 106.5 145.286 84.1064 122.893C61.7129 100.499 43.9105 77.9036 33.2085 59.5321C27.846 50.3266 24.3556 42.3325 22.899 36.0475C21.4003 29.581 22.25 25.8755 24.0631 24.0623Z" stroke="url(#paint0_linear)" stroke-width="6"/>
								<defs>
									<linearGradient id="paint0_linear" x1="81.985" y1="125.014" x2="125.015" y2="81.9842" gradientUnits="userSpaceOnUse">
										<stop stop-color="#FB866F" stop-opacity="0"/>
										<stop offset="1" stop-color="#AD2444"/>
									</linearGradient>
								</defs>
							</svg>
						</div>
					</div>
      </div>
				<div class="card-body">
					<div class="card-title">
					Cross-border transactions
					</div>
				<div class="arth-para arth-para-regular text-justify" id="arth-cross-border-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					Deployed on Layer 2 Protocol, ARTH offers transactions speed of less than 3 seconds to cross the border from your wallet to another across the globe. The very near future version of ARTH shall be a cross-chain solution that brings the power of value coin to other blockchains like Ethereum and more 
					</div>
				
				</div>
				
				
				</div>
			</section>
		
		
		
		<section class="col-12 col-md-6" id="arth-cross-border">
			<div class="arth-heading arth-heading-regular card card-bg cross-chain-liquidity" id="arth-cross-border-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<div class="img-container">
					<div id="arth-cross-chain-img" class="cross-chain-ring">	

						<svg width="351" height="286" viewBox="0 0 351 286" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M172.346 235.707C183.116 235.707 191.846 226.781 191.846 215.771C191.846 204.76 183.116 195.834 172.346 195.834C161.577 195.834 152.846 204.76 152.846 215.771C152.846 226.781 161.577 235.707 172.346 235.707Z" fill="url(#paint0_linear)"/>
							<path d="M303.192 161.943C313.962 161.943 322.692 153.017 322.692 142.007C322.692 130.996 313.962 122.071 303.192 122.071C292.423 122.071 283.692 130.996 283.692 142.007C283.692 153.017 292.423 161.943 303.192 161.943Z" fill="url(#paint1_linear)"/>
							<path d="M174.346 90.1727C185.116 90.1727 193.846 81.247 193.846 70.2366C193.846 59.2261 185.116 50.3004 174.346 50.3004C163.577 50.3004 154.846 59.2261 154.846 70.2366C154.846 81.247 163.577 90.1727 174.346 90.1727Z" fill="url(#paint2_linear)"/>
							<path d="M48.3462 162.94C59.1157 162.94 67.8462 154.014 67.8462 143.004C67.8462 131.993 59.1157 123.067 48.3462 123.067C37.5766 123.067 28.8462 131.993 28.8462 143.004C28.8462 154.014 37.5766 162.94 48.3462 162.94Z" fill="url(#paint3_linear)"/>
							<path d="M7.05638 120.769L47.9717 97.4625L88.887 120.769L47.9717 144.075L7.05638 120.769Z" stroke="url(#paint4_linear)" stroke-width="6"/>
							<path d="M7.05638 167.589L47.9717 144.282L88.887 167.589L47.9717 190.895L7.05638 167.589Z" stroke="url(#paint5_linear)" stroke-width="6"/>
							<path d="M47.8462 144V190.85" stroke="url(#paint6_linear)" stroke-width="6"/>
							<path d="M89.8462 121.074L89.8462 167.924" stroke="url(#paint7_linear)" stroke-width="6"/>
							<path d="M3.84619 120.575V167.484" stroke="url(#paint8_linear)" stroke-width="6"/>
							<path d="M134.056 47.2815L174.972 23.9751L215.887 47.2815L174.972 70.5879L134.056 47.2815Z" stroke="url(#paint9_linear)" stroke-width="6"/>
							<path d="M134.056 94.1012L174.972 70.7948L215.887 94.1012L174.972 117.408L134.056 94.1012Z" stroke="url(#paint10_linear)" stroke-width="6"/>
							<path d="M174.846 70.5129V117.363" stroke="url(#paint11_linear)" stroke-width="6"/>
							<path d="M216.846 47.5864L216.846 94.4364" stroke="url(#paint12_linear)" stroke-width="6"/>
							<path d="M130.846 47.088V93.9968" stroke="url(#paint13_linear)" stroke-width="6"/>
							<path d="M262.749 118.055L303.664 94.7484L344.579 118.055L303.664 141.361L262.749 118.055Z" stroke="url(#paint14_linear)" stroke-width="6"/>
							<path d="M262.749 164.875L303.664 141.568L344.579 164.875L303.664 188.181L262.749 164.875Z" stroke="url(#paint15_linear)" stroke-width="6"/>
							<path d="M303.539 141.286V188.136" stroke="url(#paint16_linear)" stroke-width="6"/>
							<path d="M345.539 118.36L345.539 165.21" stroke="url(#paint17_linear)" stroke-width="6"/>
							<path d="M259.539 117.861V164.77" stroke="url(#paint18_linear)" stroke-width="6"/>
							<path d="M132.903 191.819L173.818 168.512L214.733 191.819L173.818 215.125L132.903 191.819Z" stroke="url(#paint19_linear)" stroke-width="6"/>
							<path d="M132.903 238.638L173.818 215.332L214.733 238.638L173.818 261.945L132.903 238.638Z" stroke="url(#paint20_linear)" stroke-width="6"/>
							<path d="M173.692 215.05V261.9" stroke="url(#paint21_linear)" stroke-width="6"/>
							<path d="M215.692 192.124L215.692 238.974" stroke="url(#paint22_linear)" stroke-width="6"/>
							<path d="M129.692 191.625V238.534" stroke="url(#paint23_linear)" stroke-width="6"/>
							<path class="cross-chain-animation cross-chain-2" d="M219 94.1599L263.846 118.582" stroke="url(#paint24_linear)" stroke-width="6"/>
							<path class="cross-chain-animation cross-chain-4" d="M91 169.917L131.5 191.349" stroke="url(#paint25_linear)" stroke-width="6"/>
							<path class="cross-chain-animation cross-chain-3" d="M218.5 190.352L266 162.94" stroke="url(#paint26_linear)" stroke-width="6"/>
							<path class="cross-chain-animation cross-chain-1" d="M93 118.157L131.87 93.911" stroke="url(#paint27_linear)" stroke-width="6"/>
							<defs>
								<linearGradient id="paint0_linear" x1="158.557" y1="201.675" x2="186.749" y2="229.25" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FF8B71"/>
									<stop offset="0.704" stop-color="#C33F50"/>
									<stop offset="1" stop-color="#A81E41"/>
								</linearGradient>
								<linearGradient id="paint1_linear" x1="289.403" y1="127.911" x2="317.595" y2="155.486" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FF8B71"/>
									<stop offset="0.704" stop-color="#C33F50"/>
									<stop offset="1" stop-color="#A81E41"/>
								</linearGradient>
								<linearGradient id="paint2_linear" x1="160.557" y1="56.1406" x2="188.749" y2="83.7158" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FF8B71"/>
									<stop offset="0.704" stop-color="#C33F50"/>
									<stop offset="1" stop-color="#A81E41"/>
								</linearGradient>
								<linearGradient id="paint3_linear" x1="34.557" y1="128.908" x2="62.7489" y2="156.483" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FF8B71"/>
									<stop offset="0.704" stop-color="#C33F50"/>
									<stop offset="1" stop-color="#A81E41"/>
								</linearGradient>
								<linearGradient id="paint4_linear" x1="71.4574" y1="97.3582" x2="24.6361" y2="144.329" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint5_linear" x1="71.4574" y1="144.178" x2="24.6361" y2="191.149" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint6_linear" x1="48.3462" y1="144" x2="48.3462" y2="190.85" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint7_linear" x1="90.3462" y1="121.074" x2="90.3462" y2="167.924" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="0.541667" stop-color="#AD2444" stop-opacity="0.6"/>
									<stop offset="1" stop-color="#FB866F" stop-opacity="0"/>
								</linearGradient>
								<linearGradient id="paint8_linear" x1="4.34619" y1="117.624" x2="4.34619" y2="167.484" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint9_linear" x1="198.457" y1="23.8707" x2="151.636" y2="70.842" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint10_linear" x1="198.457" y1="70.6904" x2="151.636" y2="117.662" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint11_linear" x1="175.346" y1="70.5129" x2="175.346" y2="117.363" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint12_linear" x1="217.346" y1="47.5864" x2="217.346" y2="94.4364" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="0.541667" stop-color="#AD2444" stop-opacity="0.6"/>
									<stop offset="1" stop-color="#FB866F" stop-opacity="0"/>
								</linearGradient>
								<linearGradient id="paint13_linear" x1="131.346" y1="44.1365" x2="131.346" y2="93.9967" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint14_linear" x1="327.15" y1="94.6441" x2="280.328" y2="141.615" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint15_linear" x1="327.15" y1="141.464" x2="280.328" y2="188.435" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint16_linear" x1="304.039" y1="141.286" x2="304.039" y2="188.136" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint17_linear" x1="346.039" y1="118.36" x2="346.039" y2="165.21" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="0.541667" stop-color="#AD2444" stop-opacity="0.6"/>
									<stop offset="1" stop-color="#FB866F" stop-opacity="0"/>
								</linearGradient>
								<linearGradient id="paint18_linear" x1="260.039" y1="114.91" x2="260.039" y2="164.77" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint19_linear" x1="197.304" y1="168.408" x2="150.482" y2="215.379" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint20_linear" x1="197.304" y1="215.228" x2="150.482" y2="262.199" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint21_linear" x1="174.192" y1="215.05" x2="174.192" y2="261.9" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint22_linear" x1="216.192" y1="192.124" x2="216.192" y2="238.974" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="0.541667" stop-color="#AD2444" stop-opacity="0.6"/>
									<stop offset="1" stop-color="#FB866F" stop-opacity="0"/>
								</linearGradient>
								<linearGradient id="paint23_linear" x1="130.192" y1="188.674" x2="130.192" y2="238.534" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint24_linear" x1="237.5" y1="94.1599" x2="237.5" y2="113.099" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint25_linear" x1="109.5" y1="169.917" x2="109.5" y2="188.857" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint26_linear" x1="228.25" y1="175.951" x2="244.678" y2="185.466" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
								<linearGradient id="paint27_linear" x1="102.25" y1="102.187" x2="118.678" y2="111.702" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FB866F" stop-opacity="0"/>
									<stop offset="1" stop-color="#AD2444"/>
								</linearGradient>
							</defs>
						</svg>
		
					</div>
</div>
			<div class="card-body">
					<div class="card-title">Cross-chain liquidity</div>
				
				<div class="arth-para arth-para-regular text-justify" id="arth-cross-border-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					ARTH is compatible with tokens and currencies from other blockchains to create a massive liquidity pool across the chains. You can stake, lend, borrow, trade ARTH across chains. (coming soon) 
					</div>
					</div>
					
					</div>
				</div>
			</section>
		</div>
	</div>
</section>


<script>  
function show_process_ring(){
	 setTimeout(function(){ 
		$(".ring-start1").attr("class", "ring-start1 path1");
		 },600);
		 
		 setTimeout(function(){ 
		$(".ring-start2").attr("class", "ring-start2 path2");
		 },100);
		 
		setTimeout(function(){ 
		$(".ring-start3").attr("class", "ring-start3 path3");
		 },700);
		 
		setTimeout(function(){ 
		$(".ring-start4").attr("class", "ring-start4 path4");
		 },300);		 
 }
  show_process_ring();

</script>


 <script> 	
	$(window).scroll(function() {
	var offset = $(".cross-border-transactions").offset().top;	
    if ($(window).scrollTop() >= offset) {	
      $(".cross-border-transactions").addClass("jump-class");
    }else{
	$(".cross-border-transactions").removeClass("jump-class");
	}	
	});	

	$(window).scroll(function() {
	var offset = $(".cross-chain-liquidity").offset().top;
    if ($(window).scrollTop() >= offset) {
      $(".cross-chain-liquidity").addClass("jump-class-chain");
    }else{
	$(".cross-chain-liquidity").removeClass("jump-class-chain");
	}	
	});	


	$(window).scroll(function() {
	var offset = $("#arth-tech").offset().top;	
    if ($(window).scrollTop() >= offset) {	
      $("#arth-tech").addClass("jump-class");
    }else{
	$("#arth-tech").removeClass("jump-class");
	}	
	});	

    </script> 