<section class="arth-section" id="arth-tech">
	<div class="arth-heading arth-heading-regular" id="arth-tech-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
		Technology
		<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			ARTH is an algorithmic value-stable coin built using robust strategies like vault optimization,<br>
			auto collateralisation ratio, automatic rebalancing mechanism, anti-correlated asset<br>
			selection, purchasing power pegging, oracle price feeds and more. 
		</div>
		
		<!--<div id="arth-technology-image"></div>
		<div id="arth-technology-image-mb"></div>-->
		
		<section class="col-12 col-md-5 " id="arth-cross-border">
			<div class="arth-heading arth-heading-regular" id="arth-cross-border-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<span id="arth-cross-border-img"></span>

				Cross-border transactions
				
				<div class="arth-para arth-para-regular" id="arth-cross-border-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					Deployed on Layer 2 Protocol, ARTH offers transactions speed of less than 3 seconds to cross the border from your wallet to another
					across the globe. The very near future version of ARTH shall be a cross-chain solution that brings the power of value coin to other
					blockchains like Ethereum and more
				</div>
			</div>
		</section>
		<section class="col-12 col-md-5 " id="arth-cross-border">
			<div class="arth-heading arth-heading-regular" id="arth-cross-border-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<span id="arth-cross-chain-img"></span>

				Cross-chain liquidity
				
				<div class="arth-para arth-para-regular" id="arth-cross-border-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
					ARTH is compatible with tokens and currencies from other blockchains to create a massive liquidity pool across the chains.
					You can stake, lend, borrow, trade ARTH across chains. (coming soon)
					</div>
				</div>
			</div>
		</section>
	</div>
</section>
