<section  id="section-arth-future" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="arth-pattern">
		<span>Arth is the future of money filling up your wallet soon with the maximum buying power </span>
	</div>	
</section>
