<section class="arth-section" id="arth-maha-dao">
	<div class="container-fluid">
		<div class="arth-heading arth-heading-regular text-center" id="arth-maha-dao-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<font class="main-heading">MahaDAO Protocol</font>
			<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				MAHA is the governance and utility token that regulates the ARTH valuecoin and
				enables token holders to use MAHA to vote on key aspects of the ecosystem in order to collectively manage the parameters that keep ARTH stable and in check.
			</div>
			<div class="arth-para arth-para-regular" id="arth-red-text" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				Compatible with major DeFi protocols, you can <br> farm, stake, lend, borrow or save ARTH.
			</div>
		</div>
	</div>
</section>
