<section class="arth-section" id="arth-app-usage">
	<div class="container-fluid">
		<div class="arth-heading arth-heading-regular" id="arth-app-usage-title" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
			<span class="main-heading">Application & Usage</span>
			<div class="arth-para arth-para-regular" id="arth-maha-dao-para" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				ARTH is for students, shoppers, tourists, businessmen, employees,<br> passengers, institutions & governments. Anyone exchanging value.
			</div>
			<div class="arth-para arth-para-regular" id="arth-red-text" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				ARTH is represented in your currency, in your jurisdiction. 
			</div>
		
			<div class="app-usage-img-container" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
				<div class="row center-box">
					<div class="col-xs-4 col-lg-4 col-md-12 col-sm-12 app-usage">
						<div class="app-usage-title">Business & Personal</div>
						<div class="app-usage-gradient-border"></div>
						<div class="app-usage-image">
							<span class="app-usage-image-title">Peer to Peer <br/> Retail <br/> Corporates & SMB</span>
						</div>
					</div>
			
					<div class="col-xs-4 col-lg-4 col-md-12 col-sm-12 app-usage">
						<div class="app-usage-title">Institutional</div>
						<div class="app-usage-image">
							<span class="app-usage-image-title">Banking <br/> Insurance <br/> Financial Services</span>
						</div>
					</div>
			
					<div class="col-xs-4 col-lg-4 col-md-12 col-sm-12 app-usage">
						<div class="app-usage-title">Governments</div>
						<div class="app-usage-image">
							<span class="app-usage-image-title">Public Sector <br/> Utilities <br/> Infrastructure</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>