<section id="section-diamond-stak" class="maha-dec-staking" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
  <div class="container-fluid">
    <div class="card-bg">

      <div class="percent-box-left">
        <div class="main-heading typo-syne-h2">MAHA DEC STAKING <a id="no-txt-decoration" class="gradiant-link typo-syne-h5"
            href="https://stake.unifyre.io/maha/info/0xa00e619fcddb7375192e21fbc4e1d00fd0963395">Check your reward
            status</a> </div>
        <div class="small-text typo-syne-h5">Pool Size</div>
        <div class="big-text typo-syne-h1">P160,000 MAHA</div>
      </div>

      <div class="percent-box">
        <div class="box">
          <div class="parcent">40% APY</div>
          <span class="parcent-text typo-syne-h5">On Full Maturity</span>
        </div>

        <div class="box">
          <div class="parcent">10% APY</div>
          <span class="parcent-text typo-syne-h5">For Early Withdrawals</span>
        </div>

        <div class="box">
          <div class="parcent">90 Days</div>
          <span class="parcent-text typo-syne-h5">Maturity Period</span>
        </div>

        <div class="box">
          <div class="parcent">45 Days</div>
          <span class="parcent-text typo-syne-h5">Early Withdrawls</span>
        </div>
      </div>
      <div class="progress-bars-outer">
        <div class="progress-bars">
          <div class="progress-meter"></div>
        </div>
        <div class="status closed">Status: Closed</div>
      </div>
    </div>
  </div>
</section>


<script>
  var i = 100;
  function makeProgress() {
    if (i < 100) {
      i = i + 1;
      $(".progress-meter").css("width", i + "%").text(i + "%");
    }
    // Wait for sometime before running this script again
    setTimeout("makeProgress()", 100);
  }
  makeProgress();
</script>