<section  id="section-staking-program" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">	
		<div class="main-title outline-title" >
			MahaDAO Staking Program		
	    </div>

		<div class="inner-title m-auto">
			Start winning today in a flexible staking contract for ERC-20 Tokens
		</div>

		<div class="staking-desc">
			<p  class="text-gradient">Simple, Secure and Dynamic.</p>
			<p>$MAHA coin on Ferrum Network</p>
		</div>
	    
		<div class="maha-coin-box">
			<div class="maha-coin">
				<img class="coin-img" src="../../images/arth-ferrum/arth-logo.png" alt="">
				<p id="padding-top-30">MAHA</p>
			</div>

			<div class="maha-coin arrow">
				<img src="../../images/arth-ferrum/arrow.svg" alt="">
			</div>

			<div class="maha-coin ferrum-network">
				<img class="coin-img" src="../../images/arth-ferrum/ferrumnet-logo.png" alt="">
				<p id="padding-top-30">FERRUM <br> NETWORK</p>
			</div>
		</div>
	</div>
	
	<div class="view-status-btn">
		<a id="no-txt-decoration" target="_blank" class="theme-btn btn-md" href="https://stake.unifyre.io/maha/info/0xa00e619fcddb7375192e21fbc4e1d00fd0963395">View Status</a>
	</div>
</section>