<section id="section-rewards" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">	
		<div class="row">
			<div class="col-12 col-sm-6 col-md-6 rewards-box">
				<span  class="text-gradient typo-syne-h4">REWARDS</span>	 
				<div class="main-heading typo-syne-h2">WHAT IS STAKING?	</div>
				<p class="into-text typo-body-large">
					Staking is the procedure of holding tokens in a cryptocurrency wallet to support network processes. 
					Users are rewarded for depositing and holding coins, with constant time-based returns assured. 
					Rewards are calculated based on staking time:
				</p>
			</div> 

			<div class="col-12 col-sm-6 col-md-6">
				<img class="img-fluid" src="../../images/arth-ferrum/staking-illustration.svg" alt="">
			</div>
		</div>
	</div>
</section>