<section id="section-diamond-stak" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
  <div class="container-fluid">
    <div class="card-bg">

      <div class="percent-box-left">
        <div class="main-heading typo-syne-h2">MAHA APRIL STAKING <a id="no-txt-decoration" class="gradiant-link typo-syne-h5"
            href="https://stake.unifyre.io/maha/info/0x499a4f1be153b63d92c3d756cd30fedef048397b">Check your reward
            status</a> </div>
        <div class="small-text typo-syne-h5">Pool Size</div>
        <div class="big-text typo-syne-h1">P200,000 MAHA</div>
      </div>

      <div class="percent-box">
        <div class="box">
          <div class="parcent">70% APY</div>
          <span class="parcent-text typo-syne-h5">On Full Maturity</span>
        </div>

        <div class="box">
          <div class="parcent">10% APY</div>
          <span class="parcent-text typo-syne-h5">For Early Withdrawals</span>
        </div>

        <div class="box">
          <div class="parcent">60 Days</div>
          <span class="parcent-text typo-syne-h5">Maturity Period</span>
        </div>

        <div class="box">
          <div class="parcent">30 Days</div>
          <span class="parcent-text typo-syne-h5">Early Withdrawls</span>
        </div>
      </div>
      <div class="progress-bars-outer">
        <div class="progress-bars">
          <div class="progress-meter"></div>
        </div>
        <a class="status" href="https://stake.unifyre.io/maha/info/0x499a4f1be153b63d92c3d756cd30fedef048397b">
          Status: Open
        </a>
      </div>
    </div>
  </div>
</section>


<script>
  var i = 0;
  function makeProgress() {
    if (i < 70) {
      i = i + 1;
      $(".progress-meter").css("width", i + "%").text(i + "%");
    }
    // Wait for sometime before running this script again
    setTimeout("makeProgress()", 100);
  }
  makeProgress();
</script>