<title>
  MAHA Staking Program: Earn 40% APY
</title>
<!-- Search Engine -->
<meta
  name="description"
  content="Join the $MAHA Staking program to earn a 40% APY. The Program will lock in 200,000 MAHA tokens, which accounts for nearly 25% of the current circulating supply."
/>
<meta name="image" content="/images/opengraph/mahadao-1024.jpg" />

<!-- Schema.org for Google -->
<meta
  itemprop="name"
  content="MAHA Staking Program: Earn 40% APY"
/>
<meta
  itemprop="description"
  content="Join the $MAHA Staking program to earn a 40% APY. The Program will lock in 200,000 MAHA tokens, which accounts for nearly 25% of the current circulating supply."
/>
<meta itemprop="image" content="/images/opengraph/mahadao-1024.jpg" />

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta
  name="twitter:title"
  content="MAHA Staking Program: Earn 40% APY"
/>
<meta
  name="twitter:description"
  content="Join the $MAHA Staking program to earn a 40% APY. The Program will lock in 200,000 MAHA tokens, which accounts for nearly 25% of the current circulating supply."
/>
<meta name="twitter:site" content="@TheMahaDAO" />
<meta name="twitter:image:src" content="/images/opengraph/mahadao-1024.jpg" />

<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta
  name="og:title"
  content="MAHA Staking Program: Earn 40% APY with MAHA tokens"
/>
<meta
  name="og:description"
  content="MahaDAO is a community-focused decentralized org built on Matic Network, providing scalable solutions to its users in the form of ARTH coin, the world's first valuecoin."
/>
<meta name="og:image" content="/images/opengraph/mahadao-1024.jpg" />
<meta name="og:url" content="https://mahadao.com/" />
<meta name="og:description" content="Join the $MAHA Staking program to earn a 40% APY. Stake your MAHA tokens to earn MAHA tokens. The Program will lock in 200,000 MAHA tokens. Join Now. ">
<meta name="og:site_name" content="MahaDAO" />
<meta name="og:type" content="product" />
<meta name="og:image" content="https://mahadao.com/images/arth-ferrum/staking-illustration.svg">