<section id="section-careers-become" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
	<div class="container-fluid">

		<div class="main-heading text-center">
			Become a part of revolution
		</div>	

		<div class="sub-heading-text font-22 text-center">
			Join us on our mission to build World's first non-depreciating currency
		</div>



		<div id="accordion">
			<div class="card card-bg">
				<div class="card-header font-weight-bold font-24">
					<a class="card-link bullet-text-after" data-toggle="collapse" href="#collapseOne">
					Business Developer <font class="theme-btn font-weight-bold">Remote</font>
					</a>
				</div>
				<div id="collapseOne" class="collapse" data-parent="#accordion">
					<div class="card-body">
					    <div class="role">Role</div>
					  	<h3>Your Role</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum felis elit, viverra adipiscing vel neque. 
							Mattis leo a enim maecenas et, aliquet id enim ridiculus. Felis arcu mauris, interdum sodales tristique turpis 
							ultrices ultrices enim. Quis commodo at neque lobortis cras pellentesque nulla. Elementum ut interdum quisque platea.
							Eu ullamcorper viverra posuere accumsan imperdiet. Amet, faucibus facilisis ut ultricies et. 
							Vel urna semper erat proin vitae justo massa.
						</p>

  						<h3>About you</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum felis elit, viverra adipiscing vel neque. 
							Mattis leo a enim maecenas et, aliquet id enim ridiculus. Felis arcu mauris, interdum sodales tristique turpis 
							ultrices ultrices enim. Quis commodo at neque lobortis cras pellentesque nulla. Elementum ut interdum quisque platea.
							Eu ullamcorper viverra posuere accumsan imperdiet. Amet, faucibus facilisis ut ultricies et. 
							Vel urna semper erat proin vitae justo massa.
						</p>	
						<a class="theme-btn-outline btn-md" href="#">Apply Now</a>
					</div>
				</div>
			</div>

			<div class="card card-bg">
				<div class="card-header font-weight-bold font-24">
					<a class="card-link bullet-text-after" data-toggle="collapse" href="#collapseTwo">
					Business Developer <font class="theme-btn font-weight-bold">Remote</font>
					</a>
				</div>
				<div id="collapseTwo" class="collapse" data-parent="#accordion">
					<div class="card-body">
					    <div class="role">Role</div>
					  	<h3>Your Role</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum felis elit, viverra adipiscing vel neque. 
							Mattis leo a enim maecenas et, aliquet id enim ridiculus. Felis arcu mauris, interdum sodales tristique turpis 
							ultrices ultrices enim. Quis commodo at neque lobortis cras pellentesque nulla. Elementum ut interdum quisque platea.
							Eu ullamcorper viverra posuere accumsan imperdiet. Amet, faucibus facilisis ut ultricies et. 
							Vel urna semper erat proin vitae justo massa.
						</p>

  						<h3>About you</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum felis elit, viverra adipiscing vel neque. 
							Mattis leo a enim maecenas et, aliquet id enim ridiculus. Felis arcu mauris, interdum sodales tristique turpis 
							ultrices ultrices enim. Quis commodo at neque lobortis cras pellentesque nulla. Elementum ut interdum quisque platea.
							Eu ullamcorper viverra posuere accumsan imperdiet. Amet, faucibus facilisis ut ultricies et. 
							Vel urna semper erat proin vitae justo massa.
						</p>
						<a class="theme-btn-outline btn-md" href="#">Apply Now</a>												
					</div>
				</div>
			</div>
		</div>

  
	
	</div>					
</section>


<script>
	$(".card-link").click(function(){
		$(".card-link").removeClass('show-menu');
		$(this).toggleClass('show-menu');
	});
	
</script>

